
<div class="confirm-modal">
  <div class="modal-header">
    <h3 class="title">Confirmation</h3>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="confirm-msg">
      <h2>Are you sure you want to BLOCK <br/>this Event Post ?</h2>
      <div class="c-field c-b-sm c-shadow">
        <div class="select-control">
          <select class="c-field-control">
            <option>Select Forever</option>
            <option>One Week</option>
            <option>Two Week</option>
            <option>Thtee Week</option>
            <option>Four Week</option>
          </select>
        </div>
      </div>
      <div class="btn-field">
        <div class="margin-top-6x text-center">
          <button class="button button-green button-width-large button-rounded margin-right-3x"><i class="icon-check-bold"></i></button>
          <button class="button button-danger button-width-large button-rounded margin-left-3x"><i class="icon-close-bold"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>