
<div class="search-modal-section">
  <div class="modal-header">
    <h2 class="title">Search</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="field-group">
      <div class="row">
        <div class="col-md-6">
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Title</label>
            <input class="c-field-control" type="text" placeholder="Main Headline"/>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Author Email</label>
            <input class="c-field-control" type="text" placeholder="Enter Email.."/>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Creation Date</label>
            <div class="c-has-icon">
              <input class="c-field-control" type="text" placeholder="Select"/>
              <div class="icon-addon hidden-xs"><i class="icon-calender-o"></i></div>
            </div>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Due Date</label>
            <div class="c-has-icon">
              <input class="c-field-control" type="text" placeholder="Select"/>
              <div class="icon-addon hidden-xs"><i class="icon-calender-o"></i></div>
            </div>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Status</label>
            <div class="select-control">
              <select class="c-field-control">
                <option>Select</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Author Full Name</label>
            <input class="c-field-control" type="text" placeholder="Enter Name.."/>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Keywords</label>
            <tags-input ng-model="tags" placeholder="Add Keywords"></tags-input>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Last Updated</label>
            <div class="c-has-icon">
              <input class="c-field-control" type="text" placeholder="Select"/>
              <div class="icon-addon hidden-xs"><i class="icon-calender-o"></i></div>
            </div>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Type</label>
            <div class="select-control">
              <select class="c-field-control">
                <option>Select</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-field">
        <button class="button button-shadow button-width-large button-green button-height-large button-font-bold button-rounded button-font-medium margin-right-1x">Search</button>
        <button class="button button-shadow button-width-large button-danger button-height-large button-font-bold button-rounded button-font-medium margin-left-1x">Reset</button>
      </div>
    </div>
  </div>
</div>