
<div class="reject-modal">
  <div class="modal-header">
    <h3 class="title text-center">Reject</h3>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="reject-form">
      <div class="c-field c-bg-color c-shadow c-b-none c-txt-medium c-txt-small c-b-xsm">
        <label>Reason For Rejection</label>
        <textarea class="c-field-control" placeholder="Type a Message..." rows="7" cols="7"></textarea>
      </div>
      <div class="btn-field">
        <div class="margin-top-6x text-center">
          <button class="button button-green button-width-large button-rounded margin-right-3x"><i class="icon-check-bold"></i></button>
          <button class="button button-danger button-width-large button-rounded margin-left-3x"><i class="icon-close-bold"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>