
<div class="search-modal-section">
  <div class="modal-header">
    <h2 class="title">Search</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="field-group">
      <div class="row">
        <div class="col-md-6">
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Full Name</label>
            <input class="c-field-control" type="text" placeholder="Enter Email/Username"/>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Location</label>
            <input class="c-field-control" type="text" placeholder="Enter Location..."/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Email</label>
            <input class="c-field-control" type="text" placeholder="Enter Email.."/>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Gender</label>
            <div class="select-control">
              <select class="c-field-control">
                <option>Male</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="c-field c-b-sm">
        <div class="check-opt-field">
          <label> Age</label>
          <div class="list-opt">
            <ul>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">All</span>
                </label>
              </li>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">0-15</span>
                </label>
              </li>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">15-30</span>
                </label>
              </li>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">30-40</span>
                </label>
              </li>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">40-50</span>
                </label>
              </li>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">50-60</span>
                </label>
              </li>
              <li>
                <label class="label-checkbox-o label-checkbox-o-lg">
                  <input type="checkbox"/><span class="check-mark"></span><span class="label-name">60+</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Keywords/Interests</label>
            <input class="c-field-control" type="text" placeholder="Enter.."/>
          </div>
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Status</label>
            <div class="select-control">
              <select class="c-field-control">
                <option>Select</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="c-field c-b-sm c-shadow c-lh">
            <label>Registration Date</label>
            <input class="c-field-control" type="text" placeholder="Enter.."/>
          </div>
        </div>
      </div>
      <div class="btn-field">
        <button class="button button-shadow button-width-large button-green button-height-large button-font-bold button-rounded button-font-medium margin-right-1x">Search</button>
        <button class="button button-shadow button-width-large button-danger button-height-large button-font-bold button-rounded button-font-medium margin-left-1x">Reset</button>
      </div>
    </div>
  </div>
</div>