
<div class="dashboard-message-section">
  <div class="header-block">
    <div class="row">
      <div class="col-md-4 col-sm-3"><a class="back-btn" data-ui-sref="dashboard-home"><span class="ico"><i class="icon-arrow-left"></i></span>Back </a></div>
      <div class="col-md-8 col-sm-9">
        <div class="sort-input-field"><span class="s-btn"><i class="icon-magnifier"></i></span>
          <div class="select-control">
            <select class="sort-field-control">
              <option>2 Days Ago</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-list">
    <div class="media">
      <div class="media-left">
        <div class="user-pic"><img src="images/user.jpg" alt="img"/></div>
      </div>
      <div class="media-body">
        <div class="msg-u-info"><span class="user-name">John Smith </span><span class="p-time"> - 2 Days Ago</span></div>
        <div class="msg-txt">
          <h3>Account Issues</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown pr</p>
          <div class="msg-opt">
            <ul>
              <li><a href="javascript:void" ng-controller="ModalCtrl" ng-click="reply()">Reply</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <div class="user-pic"><img src="images/user.jpg" alt="img"/></div>
      </div>
      <div class="media-body">
        <div class="msg-u-info"><span class="user-name">John Smith </span><span class="p-time"> - 2 Days Ago</span></div>
        <div class="msg-txt">
          <h3>Account Issues</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown pr</p>
          <div class="msg-opt">
            <ul>
              <li><a href="javascript:void" ng-controller="ModalCtrl" ng-click="reply()">Reply</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <div class="user-pic"><img src="images/user.jpg" alt="img"/></div>
      </div>
      <div class="media-body">
        <div class="msg-u-info"><span class="user-name">John Smith </span><span class="p-time"> - 2 Days Ago</span></div>
        <div class="msg-txt">
          <h3>Account Issues</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown pr</p>
          <div class="msg-opt">
            <ul>
              <li><a href="javascript:void" ng-controller="ModalCtrl" ng-click="reply()">Reply</a></li>
              <li><a href="#">Delete						</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>