
<div class="dashboard-form-container">
  <div class="dashboard-form__box">
    <div class="logo"><img class="img-responsive" src="images/logo.jpg" alt="img"/></div>
    <div class="email-msg">
      <div class="email-msg__heading-block">
        <h3>Email Confirmation - Link Sent</h3>
        <p>Please check your Inbox to confirm and activate your Account </p>
        <div class="btn-field">
          <button class="button button-uppercase button-block button-font-medium button-height-large button-font-medium-txt button-rounded margin-bottom-3x" ng-click="$state.go('login')">ok</button>
        </div>
      </div>
    </div>
  </div>
</div>