
<div class="create-brand-page">
  <div class="container">
    <div class="step-form-block">
      <h2 class="title">Create BRAND or PRODUCT Page</h2>
      <div class="step-form-container">
        <div class="step-form-heading">
          <h3 class="title">Essential Details</h3>
        </div>
        <div class="step-form-data">
          <div class="step-form-field-box">
            <div class="field-group">
              <div class="c-field c-outline c-5 c-lh c-shadow">
                <div class="c-line c-5">
                  <label>Brand/Product Name</label>
                </div>
                <input class="c-field-control" type="text" placeholder="Enter Name"/>
              </div>
              <div class="c-field c-outline c-5 c-lh c-shadow c-b-lg">
                <div class="c-line c-5">
                  <label>Brand/Product Category</label>
                </div>
                <div class="select-control">
                  <select class="c-field-control">
                    <option value="Select">Select</option>
                  </select>
                </div>
              </div>
              <div class="c-field c-outline c-5 c-lh c-shadow">
                <div class="c-line c-5">
                  <label>Keywords</label>
                </div>
                <tags-input ng-model="tags" placeholder="Add Keywords"></tags-input>
              </div>
              <div class="c-field c-outline c-5 c-shadow"> 
                <div class="c-line c-5">
                  <label>Description</label>
                </div>
                <textarea class="c-field-control" rows="8" cols="8" placeholder="Enter Some Text.."></textarea>
              </div>
              <div class="c-field c-outline c-5 c-lh c-shadow">
                <div class="c-line c-5">
                  <label>Availability Methods</label>
                </div>
                <div class="select-control">
                  <select class="c-field-control">
                    <option value="Select">Choose Option</option>
                  </select>
                </div>
              </div>
              <div class="c-field c-outline c-5 c-shadow">
                <div class="c-line c-5">
                  <label>Head Office Address</label>
                </div>
                <textarea class="c-field-control" rows="8" cols="8" placeholder="Head Office Address"></textarea>
              </div>
              <div class="c-field c-outline c-5 c-lh c-shadow">
                <div class="c-line c-5">
                  <label>Website (Optional)</label>
                </div>
                <input class="c-field-control" type="text" placeholder="Website (Optional)"/>
              </div>
              <div class="btn-field text-center">
                <button class="button button-font-medium button-uppercase button-font-medium-txt button-height-extra-large button-rounded button-min-width-small margin-left-1x margin-right-1x margin-bottom-2x">CREATE</button>
                <button class="button button-danger button-uppercase button-font-medium button-font-medium-txt button-height-extra-large button-rounded button-min-width-small margin-right-1x margin-left-1x">CANCEL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>