
<div class="my-message-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4"> 
        <h2 class="title">My Messages  </h2>
      </div>
      <div class="col-md-4">
        <div class="f-list-block">
          <div class="search-field">
            <input class="search-field-control" type="text" placeholder="Search"/>
            <div class="icon-addon"><i class="icon-search"></i></div>
          </div>
          <div class="f-list-data_cotainer">
            <div class="f-list-data" ng-nicescroll="ng-nicescroll" nice-option="{cursorcolor: '#2abeeb',cursorwidth:'6px',background:'none',cursorborder:'1px solid #c4c4c4',cursorborderradius:'5px'}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()"> 
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park</h3>
                  </div>
                  <div class="t-msg"><span>2</span></div>
                  <div class="time"><span>6 Days </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
                <div class="media-body">
                  <div class="user-name">
                    <h3>William Park </h3>
                  </div>
                  <div class="time"><span>6 Days  </span></div>
                  <div class="usr-des-txt">
                    <p>Praesent ipsum urna, aliguet wn uwhux...			</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat-box-container">
          <div class="chat-head__block">
            <div class="media">
              <div class="media-left">
                <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
              </div>
              <div class="media-body">
                <div class="usr-name">
                  <h3>William Park</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg__area" ng-nicescroll="ng-nicescroll" nice-option="{cursorcolor: '#2abeeb',cursorwidth:'8px',background:'none',cursorborder:'1px solid #c4c4c4',cursorborderradius:'5px',touchbehavior:true, cursordragontouch: true}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
            <div class="chat-msg__label"><span>TUESDAY</span></div>
            <div class="chat-msg__box">
              <div class="msg">
                <div class="f-msg">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                  <div class="usr-msg__container">
                    <div class="usr-msg">
                      <p>Lorem Ipsum is simply dummy text of the printing of the text</p>
                    </div><span class="p-time">08:51 am</span>
                  </div>
                </div>
              </div>
              <div class="msg">
                <div class="m-msg">
                  <div class="me-msg__container">
                    <div class="me-msg">
                      <p>Lorem Ipsum is simply dummy text of the printing of the text</p>
                    </div><span class="p-time">08:51 am</span>
                  </div>
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
              </div>
              <div class="msg">
                <div class="f-msg">
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                  <div class="usr-msg__container">
                    <div class="usr-msg">
                      <p>Lorem Ipsum is simply dummy text of the printing of the text</p>
                    </div>
                    <div class="usr-msg">
                      <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                    <div class="usr-msg">
                      <p>Lorem.</p>
                    </div><span class="p-time">08:51 am</span>
                  </div>
                </div>
              </div>
              <div class="msg">
                <div class="m-msg">
                  <div class="me-msg__container">
                    <div class="me-msg">
                      <p>Lorem Ipsum is simply dummy text of the printing of the text</p>
                    </div>
                    <div class="me-msg">
                      <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div><span class="p-time">08:51 am</span>
                  </div>
                  <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg__text-field">
            <div class="input-group">
              <textarea placeholder="Type Message Here...."></textarea>
              <div class="input-group-btn">
                <button class="chat-btn">SEND</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>