
<div class="my-pages-section">
  <div class="container">
    <div class="heading-block">
      <h3>My Pages (6/9)</h3>
    </div>
    <div class="__inner-container">
      <div class="my-pages-row">
        <h3>Local Business or Place</h3>
        <div class="__inner-row">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="business-page">
                    <figure><img class="img-circle" src="images/property.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Merchant Store Place</h4>
                    </figcaption></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="create-business">
                    <figure><img src="images/business-page-icon.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Create New</h4>
                    </figcaption></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="create-business">
                    <figure><img src="images/business-page-icon.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Create New</h4>
                    </figcaption></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-pages-row">
        <h3>Brand or Product</h3>
        <div class="__inner-row">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a href="#">
                    <figure><img class="img-circle" src="images/property.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Igniva Solutions </h4>
                    </figcaption></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="create-company">
                    <figure><img src="images/company-page-icon.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Create New</h4>
                    </figcaption></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="create-company">
                    <figure><img src="images/company-page-icon.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Create New</h4>
                    </figcaption></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-pages-row">
        <h3>Company or Institution</h3>
        <div class="__inner-row">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a href="#">
                    <figure><img class="img-circle" src="images/property.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>ABC Product</h4>
                    </figcaption></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="create-brand">
                    <figure><img src="images/brand-page-icon.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Create New</h4>
                    </figcaption></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="my-pages-box">
                <div class="__inner-box"><a data-ui-sref="create-brand">
                    <figure><img src="images/brand-page-icon.jpg" alt="img"/></figure>
                    <figcaption>
                      <h4>Create New</h4>
                    </figcaption></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>