
<div class="mp-connection-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <div class="heading-block">
          <div class="breadcrumb-list">
            <ul>
              <li><a href="#">My People</a></li>
              <li><a class="active" href="#">Connection Requests</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="filter-side-block ap-filter">
          <div class="filter-side-box" ng-class="{'active':isfilterCollapsed}">
            <div class="filter-block__top pointer" ng-click="isfilterCollapsed = !isfilterCollapsed">
              <h4>Filters</h4><span class="caret"></span>
            </div>
            <div class="filter-field-group" uib-collapse="!isfilterCollapsed">
              <div class="f-field">
                <input class="f-field-control" type="text" placeholder="First Name"/>
              </div>
              <div class="f-field">
                <input class="f-field-control" type="text" placeholder="Last Name"/>
              </div>
              <div class="f-field">
                <input class="f-field-control" type="text" placeholder="Job Title/Position"/>
              </div>
              <div class="f-field">
                <input class="f-field-control" type="text" placeholder="Company"/>
              </div>
              <div class="f-field">
                <input class="f-field-control" type="text" placeholder="Location"/>
              </div>
              <div class="filter-button-group">
                <div class="row row-10">
                  <div class="col-md-6 col-sm-6">
                    <button class="button button-rounded button-block margin-bottom-2x">Apply</button>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <button class="button button-border button-theme button-border-thin button-rounded button-block margin-bottom-2x">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="mp-connection__list ap-filter">
          <div class="filter-ap-msg">
            <h4> <span><i class="icon-asterisk-symbol"> </i></span>Filters Applied</h4>
          </div>
          <div class="total-connection"><span>Total Connections : 220</span></div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
              <div class="mp-connection-box">
                <div class="user-pic"><img src="images/user-2.jpg" alt="img"/></div>
                <div class="user-name"><a href="#">
                    <h3>Albert Smith</h3></a></div>
                <div class="user-profile">
                  <h4>Senior Business Analyst</h4>
                </div>
                <div class="cp-name">
                  <h4>Igniva Solutions</h4>
                </div>
                <div class="btn-block">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-green button-font-base-small button-font-sbold button-rounded button-block">Accept</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block button-font-base-small button-font-sbold">Ignore</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>