
<div class="page-view-section" data-ng-controller="dtlCtrl">
  <div class="sp-btn visible-sm visible-xs" ng-click="sidenav()"><span> <i class="icon-arrow-right"></i></span></div>
  <div class="page-view-section-dtl">
    <div class="container">
      <div class="heading-block">
        <div class="breadcrumb-list">
          <ul>
            <li><span>My Pages  </span></li>
            <li><span>Business Profile </span></li>
            <li><span class="active">About</span></li>
          </ul>
        </div>
      </div>
      <div class="__inner-cotainer">
        <div class="row">
          <div class="col-md-3">
            <div class="page-dtl-sidebar">
              <div class="close-btn visible-sm visible-xs" ng-click="closenav()"><span><i class="icon-close-o"></i></span></div>
              <div class="page-name-info">
                <div class="page-img">
                  <figure><img src="images/dummy-page.jpg" alt="img"/></figure>
                  <div class="page-img__overlay">
                    <div class="fileUpload">
                      <input class="upload" type="file"/><span><i class="icon-camera"></i></span>
                    </div>
                  </div>
                </div>
                <div class="page-name">
                  <h4>Merchant Store</h4>
                </div>
                <div class="page-location"><span><i class="icon-marker"></i></span> New York ,USA</div>
              </div>
              <div class="page-nav-list">
                <ul>
                  <li><a data-ui-sref="business-page" data-ui-sref-active="active">Home</a><a class="button button-rounded button-font-base-small button-rounded button-font-medium-txt button-height-small" data-ui-sref="create-business-post">Create Post</a></li>
                  <li><a data-ui-sref="page-about" data-ui-sref-active="active">About</a></li>
                  <li><a data-ui-sref="page-followers" data-ui-sref-active="active">Followers (221)</a></li>
                  <li><a data-ui-sref="page-likes" data-ui-sref-active="active">Page Likes (88)</a></li>
                  <li><a data-ui-sref="page-route-mention" data-ui-sref-active="active">LR Mentions (34)</a></li>
                  <li><a data-ui-sref="page-events" data-ui-sref-active="active">Events (66)</a></li>
                  <li><a data-ui-sref="page-reviews" data-ui-sref-active="active">Reviews (35)</a></li>
                  <li><a data-ui-sref="page-adverts" data-ui-sref-active="active">My Adverts (3)</a><a class="button button-green button-rounded button-font-base-small button-rounded button-font-medium-txt button-height-small" data-ui-sref="create-advert">Create Advert</a></li>
                </ul>
                <div class="margin-top-4x">
                  <button class="button button-green button-rounded button-font-medium-txt button-border-thin button-width-large">Edit Profile</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="page-about-block">
              <div class="__inner-container">
                <div class="media">
                  <div class="media-left">
                    <div class="page-img"><img src="images/property.jpg" alt="img"/></div>
                  </div>
                  <div class="media-body">
                    <div class="page-top__block">
                      <div class="page-basic__info">
                        <h3>Merchant Store</h3><span class="page__cat-name">Category Name</span>
                      </div>
                      <div class="page-edit__ico"><span><i class="icon-edit"></i></span></div>
                    </div>
                    <div class="page-location__info">
                      <ul>
                        <li><span class="__label">Post Code:  </span>6688</li>
                        <li><span class="__label">Country : </span>London, United Kingdom</li>
                        <li><span class="__label">Website :</span>http://www.example.com</li>
                      </ul>
                    </div>
                    <div class="page-other__info">
                      <ul>
                        <li>
                          <h4>Address</h4>
                          <p>Guildhall, PO Box 270, London EC2P 2EJ</p>
                        </li>
                        <li>
                          <h4>Phone Number</h4>
                          <p>321-456-6767</p>
                        </li>
                        <li>
                          <h4>Keywords</h4>
                          <p>Store , Thrift , ACB</p>
                        </li>
                        <li>
                          <h4>Description</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>