
<div class="adv-section">
  <div class="container">
    <div class="heading-block">
      <h3>Recommended For You</h3>
    </div>
    <div class="all-adv-list">
      <div class="row">
        <div class="col-md-3">
          <div class="filter-side-block">
            <div class="filter-side-box" ng-class="{'active':isSearchCollapsed}">
              <div class="filter-block__top pointer" ng-click="isSearchCollapsed = !isSearchCollapsed">
                <h4>Search</h4><span class="caret"></span>
              </div>
              <div class="filter-field-group" uib-collapse="!isSearchCollapsed">
                <div class="f-field">
                  <input class="f-field-control" type="text" placeholder="Search by Keyword"/>
                </div>
                <div class="f-field">
                  <input class="f-field-control" type="text" placeholder="Search by Location"/>
                </div>
                <div class="filter-button-group">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-rounded button-block margin-bottom-2x">Search</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block margin-bottom-2x">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-side-box" ng-class="{'active margin-top':isFilterCollapsed}">
              <div class="filter-block__top pointer" ng-click="isFilterCollapsed = !isFilterCollapsed">
                <h4>Filter</h4><span class="caret"></span>
              </div>
              <div class="filter-field-group" uib-collapse="!isFilterCollapsed"> 
                <div class="f-field">
                  <input class="f-field-control" type="text" placeholder="Date"/>
                </div>
                <div class="filter-button-group">
                  <div class="row row-10">
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-rounded button-block margin-bottom-2x">Apply</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button class="button button-border button-theme button-border-thin button-rounded button-block margin-bottom-2x">Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="all-adv-list__container ap-filter">
            <div class="filter-ap-msg">
              <h4> <span><i class="icon-asterisk-symbol"> </i></span>Filters Applied</h4>
            </div>
            <div class="page-adv-list"><span class="total-adv">Total Adverts : 3</span>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="adv-box"><a data-ui-sref="page-adverts-dtl">
                      <figure><img src="images/adv-1.jpg" alt="img"/></figure>
                      <figcaption>
                        <h3 class="title">Advert Title</h3><span class="adv-location"> <i class="icon-marker-o"></i>Location</span>
                      </figcaption></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>