
<div class="search-result-section">
  <div class="container">
    <h2 class="page-heading">You searched for <span class="up-letter text-theme">MAHMOOD CHOUDHURY </span>in <span class="up-letter text-theme">ALL LOCATIONS</span></h2>
    <div class="search-list-block">
      <div class="search-list-top"><span class="total-result">Found 1 Results</span>
        <div class="sort-field-group"><span class="label-field">Sort by</span>
          <div class="select-control">
            <select class="sort-field-control">
              <option value="Grade">Status</option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-list-data">
        <div class="people-route-list">
          <div class="people-route-box"><a href="#">
              <div class="user-p-info">
                <div class="user-p-info-box">
                  <div class="user-img"><img src="images/user.jpg" alt="img"/></div>
                  <div class="user-name">
                    <h3>Mahmood Choudhury</h3>
                  </div>
                  <div class="user-profile">
                    <h4>Senior Business Analyst</h4>
                  </div>
                  <div class="user-dtl-txt">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <br/>standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged...</p>
                  </div>
                </div>
                <div class="list-label"><span>p</span></div>
              </div>
              <div class="p-bottom-block">
                <ul>
                  <li>
                    <div class="t-routes"><span class="label-name">Liferoutes  :</span><span>10</span></div>
                  </li>
                  <li>
                    <div class="t-news"><span class="label-name">News :</span><span>24</span></div>
                  </li>
                  <li>
                    <div class="t-connection"><span class="label-name">Connections :</span><span>70</span></div>
                  </li>
                  <li>
                    <div class="t-followers"><span class="label-name">Followers :</span><span>80</span></div>
                  </li>
                  <li>
                    <div class="t-r-address"><span class="label-name">Location :</span><span>New York ,USA</span></div>
                  </li>
                </ul>
              </div></a></div>
        </div>
      </div>
    </div>
  </div>
</div>