
<div class="my-setting-section" data-ng-controller="settingCtrl">
  <div class="sp-btn" data-ng-click="profileside(); showcaption = ! showcaption"><span class="hidden-xs" ng-show="!showcaption">Hide Profile</span><span class="hidden-xs" ng-show="showcaption">Show Profile</span>
    <!--for mobile-view--><span class="visible-xs" ng-show="!showcaption">Show Profile</span><span class="visible-xs" ng-show="showcaption">Hide Profile</span>
  </div>
  <div class="container">
    <div class="my-setting-block">
      <div class="user-dtl-block">
        <div class="user-dtl-block-container">
          <div class="user-dtl-box">
            <div class="user-pic"><img src="images/profile-3.jpg" alt="img"/></div>
            <div class="user-name">
              <h3>Mahmood Choudhury</h3>
            </div>
            <div class="user-profile">
              <h3>Entrepreneur</h3>
            </div>
            <div class="user-other-dtl-list">
              <ul>
                <li>
                  <div class="t-cell icon-label"><span class="icon"><i class="icon-user"></i></span></div>
                  <div class="t-cell"><span>22 Years Old</span></div>
                </li>
                <li>
                  <div class="t-cell icon-label"><span class="icon"><i class="icon-marker"></i></span></div>
                  <div class="t-cell"><span>London, United Kingdom</span></div>
                </li>
                <li>
                  <div class="t-cell icon-label"><span class="icon"><i class="icon-phone"></i></span></div>
                  <div class="t-cell"><span>+999-123-4567	</span></div>
                </li>
                <li>
                  <div class="t-cell icon-label"><span class="icon"><i class="icon-cap"></i></span></div>
                  <div class="t-cell"><span>Postgraduate</span></div>
                </li>
                <li>
                  <div class="t-cell icon-label"><span class="icon"><i class="icon-web"></i></span></div>
                  <div class="t-cell"><span>www.myliferoute.com</span></div>
                </li>
              </ul>
            </div>
            <div class="edit-icon"><a href="#"><i class="icon-edit"></i></a></div>
            <div class="close-icon visible-xs" data-ng-click="closemenu()"><i class="icon-close-o"></i></div>
          </div>
          <div class="margin-top-2x margin-bottom-2x">
            <button class="button button-green button-rounded button-font-base button-height-large button-font-medium button-font-medium-txt button-block" ng-controller="ModalCtrl" ng-click="workhistory()">View Work History<span class="button-btn-icon"><i class="icon-arrow-right"></i></span></button>
          </div>
          <div class="user-dtl-box">
            <div class="user-work-dtl-list">
              <ul>
                <li>
                  <div class="t-cell label-name"><span class="icon"><i class="icon-route"> </i></span><span>Liferoutes :</span></div>
                  <div class="t-cell text-right"><span>22</span></div>
                </li>
                <li>
                  <div class="t-cell label-name"><span class="icon"><i class="icon-news"> </i></span><span>News posted :</span></div>
                  <div class="t-cell text-right"><span>12</span></div>
                </li>
                <li>
                  <div class="t-cell label-name"><span class="icon"><i class="icon-connection"> </i></span><span>Connections :</span></div>
                  <div class="t-cell text-right"><span>22</span></div>
                </li>
                <li>
                  <div class="t-cell label-name"><span class="icon"><i class="icon-follow"> </i></span><span>Followers :</span></div>
                  <div class="t-cell text-right"><span>12</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="my-setting-cotainer">
        <div class="heading-block">
          <div class="breadcrumb-list">
            <ul>
              <li><span>Settings</span></li>
              <li><span class="active">Change Email</span></li>
            </ul>
          </div>
        </div>
        <div class="my-setting-form">
          <div class="my-setting-form__container">
            <h3 class="form-title">Change Email</h3>
            <div class="field-group">
              <div class="c-field c-lh c-shadow c-b-sm">
                <label>New Email</label>
                <input class="c-field-control" type="text" placeholder="Enter New Email"/>
              </div>
              <div class="c-field c-lh c-shadow c-b-sm">
                <label>Confirm Email</label>
                <input class="c-field-control" type="text" placeholder="Confirm  Email"/>
              </div>
              <div class="c-field c-lh c-shadow c-b-sm">
                <label>Enter Password</label>
                <input class="c-field-control" type="text" placeholder="Enter Password"/>
              </div>
              <div class="btn-field text-right">
                <button class="button button-font-medium button-uppercase button-font-medium-txt button-height-extra-large button-rounded button-min-width-small margin-left-1x margin-right-1x margin-bottom-2x" ng-controller="ModalCtrl" ng-click="changeemail()">SAVE</button>
                <button class="button button-danger button-font-medium button-uppercase button-font-medium-txt button-height-extra-large button-rounded button-min-width-small margin-left-1x margin-right-1x margin-bottom-2x">CANCEL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>