head
    title My-life-route
    meta(charset="utf-8")
    //base(href="/")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, minmum-scale=1, maximum-scale=1")
    // StyleSheet
    link(href="assets/css/bootstrap.min.css", type="text/css", rel="stylesheet")
    link(href="assets/css/fonts.css", type="text/css", rel="stylesheet" )
    link(href="assets/css/font-custom-icons.css", type="text/css", rel="stylesheet" )
    link(href="assets/css/button.css", type="text/css", rel="stylesheet" )
    //owl-carousel
    link(href="assets/css/owl.carousel.css", type="text/css", rel="stylesheet" )
    link(href="assets/css/owl.theme.default.min.css", type="text/css", rel="stylesheet" )
    //video-css
    link(href="node_modules/video.js/dist/video-js.css", type="text/css", rel="stylesheet")
    //fancy-box
    link(href="node_modules/fancybox-plus/css/jquery.fancybox-plus.css", type="text/css", rel="stylesheet")
    //tags
    link(href="node_modules/ng-tags-input/build/ng-tags-input.min.css", type="text/css", rel="stylesheet")   
    link(href="assets/css/style.css", type="text/css", rel="stylesheet")
    link(href="assets/css/responsive.css", type="text/css", rel="stylesheet")
    // Scripting
    script(src="assets/js/modernizr.min.js", type="text/javascript")
    script(src="assets/js/jquery.min.js", type="text/javascript")
    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    //<![endif]
