.msg-section {
    .msg-dtl {
        @include margin-top(20);
    }

    .user-dtl {
        text-align: center;
        margin: 50px auto 20px;

        .user-img {
            & > img {
                width: 150px;
                height: 150px;

                @include circle;
            }
        }
    }

    .msg-view-dtl {
        max-height: 500px;
        overflow: auto;

        @include border-left(2, solid, #d7d7da);

        @include border-bottom(2, solid, #d7d7da);

        .mCSB_dragger_onDrag {
            .mCSB_dragger_bar {
                background-color: $themecolor !important;
            }
        }
    }

    .msg-view {
        @include padding(30);

        float: left;
        width: 100%;

        .msg-view__box {
            @include padding(20);

            @include pos(rel, null);

            @include border-round(10);

            max-width: 500px;
            width: 100%;

            @include margin-bottom(50);

            .msg-p__date {
                text-align: right;

                @include margin-top(20);
            }

            &.f-msg {
                background-color: #e2e5ea;
                float: left;

                &:before {
                    @include arrow(left, #e2e5ea, 20px);

                    content: "";

                    @include pos(ab, 40px 100% null null);
                }
            }

            &.u-msg {
                background-color: $themecolor;
                color: $white;
                float: right;

                &:before {
                    @include arrow(bottom, $themecolor, 20px);

                    content: "";

                    @include pos(ab, 100% null null 40px);
                }

                .attach-block {
                    .fa {
                        background-color: $white;
                        color: $textcolor;
                    }

                    & > a {
                        color: $white;
                    }
                }
            }
        }
    }

    .attach-block {
        @include margin(10 0);

        .fa {
            width: 35px;
            height: 35px;
            line-height: 40px;

            @include margin-right(5);

            @include circle;

            text-align: center;
            background-color: $themecolor;
            color: $white;
            vertical-align: middle;

            @include fontsize(25);
        }

        & > a {
            color: $textcolor;
        }
    }
}

.msg-text-s {
    @include margin-top(40);

    & > textarea.form-control {
        min-height: 80px;
        max-height: 100px;
    }

    .fileUpload {
        display: $inline;

        & > span {
            & > i {
                @include fontsize(25);

                vertical-align: middle;
            }
        }
    }
}

//inbox
.inbox-list {
    @include margin-top(20);

    h4 {
        @include pos(rel, null);

        line-height: 34px;

        &:after {
            @include pos(ab, 50% 0 null 70px);

            @include translatepos(0, -50%);

            content: "";
            background-color: $themecolor;
            height: 3px;
        }
    }

    .all-msglist {
        @include margin-top(50);

        @include border(1, solid, #c1c9db);

        .msg-row {
            display: table;
            width: 100%;

            @include border-bottom(1, solid, #c1c9db);

            .msg-cell {
                display: table-cell;
                vertical-align: middle;
            }

            .user {
                width: 60px;

                .user--name {
                    width: 60px;
                    height: 60px;
                    line-height:60px;
                    text-align: center;
                    background-color: $themecolor;
                    color:$white;
                }

                img {
                    width: 60px;
                    height: 60px;
                }
            }

            .msg-txt {
                @include padding(0 30);
            }

            .total {
                @include border(1, solid, #8f96a6);

                display: $inline;
                text-align: center;
                float: right;

                @include padding(0 3);

                min-width: 25px;

                @include border-round(10);
            }

            .msg-ltno {
                text-align: center;

                @include border-left(1, solid, #c1c9db);

                width: 20%;
            }

            &:last-of-type {
                border-bottom: 0px;
            }

            &.msg-ur {
                background-color: #eeefef;
            }
        }
    }
}