.filter-form-block-container
	.field-group
		.filter-people-route
			.t-cell
				.c-field.c-outline
					input(type="text", placeholder="Enter Person’s Name").c-field-control
			
			.t-cell
				.c-field.c-outline
					input(type="text", placeholder="Specify Location (City, Country etc)").c-field-control
			.t-cell
				.btn-field
					button.button.button-height-large.button-rounded.button-font-medium
						i.icon-search

.filter-advance
	span.pointer(ng-controller="ModalCtrl"  ng-click="apeoplesearch()") Advanced