.all-particpant-modal
	.modal-header
		h2.title all participants 
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.all-particpant-list(ng-nicescroll nice-option="{cursorcolor: '#484d52',touchbehavior:true,autohidemode:false}")
			.media
				.media-left
					.user-pic
						img(src="images/user-1.jpg" alt="img")
				.media-body
					.user-name
						h3 John smith
					.user-profile
						h3 Product Designer
			.media
				.media-left
					.user-pic
						img(src="images/user-1.jpg" alt="img")
				.media-body
					.user-name
						h3 John smith
					.user-profile
						h3 Product Designer
			.media
				.media-left
					.user-pic
						img(src="images/user-1.jpg" alt="img")
				.media-body
					.user-name
						h3 John smith
					.user-profile
						h3 Product Designer
			.media
				.media-left
					.user-pic
						img(src="images/user-1.jpg" alt="img")
				.media-body
					.user-name
						h3 John smith
					.user-profile
						h3 Product Designer
			.media
				.media-left
					.user-pic
						img(src="images/user-1.jpg" alt="img")
				.media-body
					.user-name
						h3 John smith
					.user-profile
						h3 Product Designer
			.media
				.media-left
					.user-pic
						img(src="images/user-1.jpg" alt="img")
				.media-body
					.user-name
						h3 John smith
					.user-profile
						h3 Product Designer