.report-modal
	.modal-header
		h2.title Report
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.report-content-block
			h3.title Why are you reporting this review?
			.report-content-form
				.field-group
					.c-field
						label.label-radio.label-radio-small
											input(type="radio" name="a")
											span.check-radio
											span.label-name Consectetuer adipiscing elit. Aenean commodo ligula eget dolor
					.c-field
						label.label-radio.label-radio-small
											input(type="radio" name="a")
											span.check-radio
											span.label-name Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
					.c-field
						label.label-radio.label-radio-small
											input(type="radio" name="a")
											span.check-radio
											span.label-name Vivamus elementum semper nisi
					.c-field
						label.label-radio.label-radio-small
											input(type="radio" name="a")
											span.check-radio
											span.label-name Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus
					.c-field

						label.label-radio.label-radio-small
											input(type="radio" name="a")
											span.check-radio
											span.label-name Other
					.c-field
						.margin-top-5x
							textarea(placeholder="Report reason").c-field-control
			
				.margin-top-8x
						.row.row-10
							.col-md-6
								button.button.button-block.button-blue-dark.button-uppercase.button-height-large.button-font-base.button-blue-shadow.margin-bottom-2x Send report
							.col-md-6
								button.button.button-block.button-uppercase.button-height-large.button-font-base.button-shadow.margin-bottom-2x Cancel

		