.dashboard-message-section
	.header-block
		.row
			.col-md-4.col-sm-3
				a(data-ui-sref="dashboard-home").back-btn
					span.ico
						i.icon-arrow-left
					|Back 
			.col-md-8.col-sm-9
				.sort-input-field
					span.s-btn
						i.icon-magnifier
					.select-control
						select.sort-field-control
							option 2 Days Ago
	.message-list
		.media
			.media-left
				.user-pic
					img(src="images/user.jpg" alt="img")
			.media-body
				.msg-u-info
					span.user-name John Smith 
					span.p-time  - 2 Days Ago
				.msg-txt
					h3 Account Issues
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown pr
					.msg-opt
						ul
							li
								a(href="javascript:void" ng-controller="ModalCtrl"  ng-click="reply()" ) Reply
							li
								a(href="#") Delete

		.media
			.media-left
				.user-pic
					img(src="images/user.jpg" alt="img")
			.media-body
				.msg-u-info
					span.user-name John Smith 
					span.p-time  - 2 Days Ago
				.msg-txt
					h3 Account Issues
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown pr
					.msg-opt
						ul
							li
								a(href="javascript:void" ng-controller="ModalCtrl"  ng-click="reply()" ) Reply
							li
								a(href="#") Delete
		.media
			.media-left
				.user-pic
					img(src="images/user.jpg" alt="img")
			.media-body
				.msg-u-info
					span.user-name John Smith 
					span.p-time  - 2 Days Ago
				.msg-txt
					h3 Account Issues
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown pr
					.msg-opt
						ul
							li
								a(href="javascript:void" ng-controller="ModalCtrl"  ng-click="reply()" ) Reply
							li
								a(href="#") Delete						
						

	