.dashboard-report-section
	.header-block
		a(href="#").back-btn
					span.ico
						i.icon-arrow-left
					|Back 
	.dashboard-report-dtl
		.dashboard-report-content-row
			h3 Entity
			p Comments
		.dashboard-report-content-row
			h3 Reported On
			p 28 June 2017, 11:32am
		.dashboard-report-content-row
			h3 Comment Details
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st been dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng tooks Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st been dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng been Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st took dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng been Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st took dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng been
		.dashboard-report-content-row
			h3 Comment On
			p How to become a Consultant LifeRoute
		.dashboard-report-content-row
			h3 Reason For Report
			p Abusive comment on
		.dashboard-report-content-row
			h3 Report By
			p William Cook
		.dashboard-report-content-row
			h3 Reporter Email Address
			p William_Cook@gmail.com
		.dashboard-report-content-row
			h3 Entity Author
			p James Cook
		.dashboard-report-content-row
			h3 Entity Author Email Address
			p James_Cook1256@gmail.com
		.dashboard-report-content-row
			h3 Issues Location
			p Post

