.dashboard-change-section
	.header-block
		a(data-ui-sref="dashboard-home").back-btn
			span.ico
				i.icon-arrow-left
			|Back
	.row
		.col-md-4
			.field-group
				.c-field
					label Current Password
					input(type="text", placeholder="Enter Current Password").c-field-control
				.c-field
					label New Password
					input(type="text", placeholder="Enter New Password").c-field-control
				.c-field
					label Confirm Password
					input(type="text", placeholder="Enter New Password").c-field-control
				.btn-field.padding-top-4x
					button.button.button-rounded.button-uppercase.button-width-large.button-font-sbold.margin-right-2x  Save
					button.button.button-danger.button-rounded.button-uppercase.button-width-large.button-font-sbold  CANCEL