.dashboard-report-section
	.header-block
		.row
			.col-md-4
				.sort-input-field.margin-bottom-2x
					.select-control
						select.sort-field-control
							option Sort By
			.col-md-8
				.text-right
					button.button.button-blue.button-height-large.button-font-bold.button-rounded.margin-right-1x All Reports
					button.button.button-height-large.button-font-bold.button-rounded(ng-controller="ModalCtrl"  ng-click="reportsearch()")
						i.icon-magnifier
	.report-list
		.total-entries
			span 500 Entries
		.data-table
			.table-responsive
				table.table.c-6.table-bordered 
					thead
						tr
							th(class="text-center") No
							th(class="text-center") Reported On
							
							th(class="text-center") User issues
							th(class="text-center") Reported
								br
								|By
							th(class="text-center") Reporter Email 
							th(class="text-center") Entity Author
							
							th(class="text-center") Entity Author Email
							th(class="text-center") Issues Location
					
							
							th(class="text-center") Actions
					tbody
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
							
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
						tr
							td(align="center") 1
							td(align="center") 23/05/2016
								br
								| 11:32am
							td(align="center") Lorem Ipsum is simp text enn 
							td(align="center") Jennie jackson 
							td(align="center") Jennie_son@gmail.com
							td(align="center") Adam Briggs
							td(align="center") Adam_brigs@gmail.com
							td(align="center") Post
							td(align="center") 
								a(data-ui-sref="dashboard-report-dtl").txt-blue
									u View
					
						
						
		.page-nation-list.c-5.margin-top-4x
			ul
				li
					a(href="#") 1
				li
					a(href="#").active 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") 5
				li
					a(href="#") 6
				li
					a(href="#") 7
				li
					a(href="#") 8
				li
					a(href="#").next-btn Next
						Span.ico
							i.icon-angle-right