.dashboard-event-section
	.dashboard-news-event-dtl
		.heading-block
			.row
				.col-md-5
					h2.title New Store Opening
				.col-md-7
					.text-right
						button.button.button-event.button-font-bold.button-rounded.margin-right-1x View Stats
						button.button.button-danger.button-font-bold.button-rounded.margin-right-1x Block
						button.button.button-font-bold.button-rounded.margin-right-1x Delete

		.news-event-dtl-box
			.__inner-container
				.title-block
					h3.title New Store Opening
				.slider-block
					.news-event-slider-block
						.news-event-slider(data-ng-controller="newsCtrl")
								ng-owl-carousel(class="owl-theme" owl-items="items" owl-properties="properties" owl-ready="ready($api)")
									.item(data-ng-repeat="item in items")
										figure
											img(src="images/news-1.jpg" alt="img")
											figcaption
												h4 New_assign_name
						div(id="sliderNav" class="sliderNav")
				.n-event-info
					ul
						li
							span.__label Location :
							| New York ,USA
						li
							span.__label Date Created  :
							| 24th May 2016
						li
							span.__label Last Updated  :
							| 24th May 2016
						li
							.row
								.col-md-4
									span.__label Due Date  :
									span 24th May 2017
								.col-md-8

									ul.social-info
										li
											span.ico.t-liked
												i.icon-thumb 
											span.fw400 Like : 
											span 500
										li
											span.ico.t-comment
												i.icon-coment 
											span.fw400 Comments : 
											span 40
										li
											span.ico.t-share
												i.icon-share 
											span.fw400 Share : 
											span 23
										li
											span.ico.t-intersted
												i.icon-user-o
											span.fw400 Interested : 
											span 23
				.n-event-des-txt
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged floewf dustry standard dum has been flp lly unchanged dsx owkd Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged floewf dustry standard dum has been flp lly unchanged dsx owkd Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged floewf dustry standard dum has been flp lly unchanged dsx owkd
				.n-event-keyword
					span.__label Keywords : 
					|Lifestyle, New-age, Apparels, 2017, Exciting

							

			.list-label.e-list-label
				span E
	.route-comments-block
				.row
					.col-lg-8
						.route-comments__list
							.header-block.c-2
								h4 Comments
							.route-comments__listdata
								
								.comment-row
									.comment-box
										.media
											.media-left
												.usr-pic
													img(src="images/user.jpg" alt="img")
											.media-body
												.comment-msg
													.comment-msg__top
														.comment-mg__usr-info
															.usr-name
																h4 Bryan Linquist CIA, CFE  
															.usr-profile
																h4 Chief Audit Exceutive
														.comment-mg__usr__opt
															.ico
																i.icon-dots
																
															span.time 11:22 pm	
													p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
													
												

								.comment-row
									.comment-box
										.media
											.media-left
												.usr-pic
													img(src="images/user.jpg" alt="img")
											.media-body
												.comment-msg
													.comment-msg__top
														.comment-mg__usr-info
															.usr-name
																h4 Bryan Linquist CIA, CFE  
															.usr-profile
																h4 Chief Audit Exceutive
														.comment-mg__usr__opt
															.ico
																i.icon-dots
																
															span.time 11:22 pm	
													p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
								.comment-row
									.comment-box
										.media
											.media-left
												.usr-pic
													img(src="images/user.jpg" alt="img")
											.media-body
												.comment-msg
													.comment-msg__top
														.comment-mg__usr-info
															.usr-name
																h4 Bryan Linquist CIA, CFE  
															.usr-profile
																h4 Chief Audit Exceutive
														.comment-mg__usr__opt
															.ico
																i.icon-dots
																
															span.time 11:22 pm	
													p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
								.comment-row
									.comment-box
										.media
											.media-left
												.usr-pic
													img(src="images/user.jpg" alt="img")
											.media-body
												.comment-msg
													.comment-msg__top
														.comment-mg__usr-info
															.usr-name
																h4 Bryan Linquist CIA, CFE  
															.usr-profile
																h4 Chief Audit Exceutive
														.comment-mg__usr__opt
															.ico
																i.icon-dots
																
															span.time 11:22 pm	
													p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...