.dashboard-route-dtl-section
	.stats-dtl-box
		.head-block
			h3.title Lorem Ipsum is simp text ennie 
		.stat-dtl-list
			ul
				li
					span.t-no 688
					span Total Likes
				li
					span.t-no 588
					span Total Comments
				li
					span.t-no 188
					span Total Followers
				li
					span.t-no 188
					span Total Share
				li
					span.t-no 8
					span Total Video Links
				li
					span.t-no 8
					span Total Images
	.stats-oth-info
		.stats-oth-info__block
			h3 2
			h5 Total Steps
		.stats-oth-info__block
			h3 £70,000
			h5 Total Cost

