.dashboard-notification-section
	.header-block
		a(data-ui-sref="dashboard-home").back-btn
			span.ico
				i.icon-arrow-left
			|Back 
	.notification-list
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p William Robert Smith send advert request !!!!!
							span.p-time 2 Min(s) Ago