.dashboard-t-info
	.row.row-10
		.col-lg-4.col-md-6
			.dashboard-t-box.c-1
				h3 2000
				h4 Total Users
					span.ico
						i.icon-user
		.col-lg-4.col-md-6
			.dashboard-t-box.c-2
				h3 2000
				h4 Total Life Routes
					span.ico
						i.icon-routes
		.col-lg-4.col-md-6
			.dashboard-t-box.c-3
				h3 2000
				h4 Total News
					span.ico
						i.icon-mike
		.col-lg-4.col-md-6
			.dashboard-t-box.c-4
				h3 2000
				h4 Total Business Profiles
					span.ico
						i.icon-b-user
		.col-lg-4.col-md-6
			.dashboard-t-box.c-5
				h3 2000
				h4 Total Events
					span.ico
						i.icon-calender
		.col-lg-4.col-md-6
			.dashboard-t-box.c-6
				h3 2000
				h4 Total Adverts
					span.ico
						i.icon-speaker
