.dashboard-business-section
	.header-block
		.row
			.col-md-4
				.sort-input-field.margin-bottom-2x
					.select-control
						select.sort-field-control
							option Sort By
			.col-md-8
				.text-right
					button.button.button-business.button-height-large.button-font-bold.button-rounded.margin-right-1x All Business Profiles
					button.button.button-height-large.button-font-bold.button-rounded(ng-controller="ModalCtrl"  ng-click="businesssearch()")
						i.icon-magnifier
	.business-list
		.total-entries
			span 500 Entries
		.data-table
			.table-responsive
				table.table.c-4.table-bordered
					thead
						tr
							th(class="text-center") No
							th(class="text-center") Title
							
							th(class="text-center") Author
								br
								|Name
							th(class="text-center") Author Email
							th(class="text-center") Location
							
							
							th(class="text-center") Creation Date
								br 
								span (DD/MM/YYYY)
							th(class="text-center") Last Updated
								br 
								span (DD/MM/YYYY)
							th(class="text-center") Likes
							th(class="text-center") Comments
							th(class="text-center") Shares
							th(class="text-center") Active Adverts
							th(class="text-center") In Active 
								br
								|Adverts
							th(class="text-center") OverAll Rating
							th(class="text-center") Actions
					tbody
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-1")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-2")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-3")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-4")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-5")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-6")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-7")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-8")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-9")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-10")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-11")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						tr
							td(align="center") 1
							td(align="center") Lorem Ipsum is simp text ennie 
							td(align="center") Jennie jackson
							td(align="center") Jennie_son@gmail.com
							td(align="center") Mohali India
							td(align="center") 07/06/2017
							td(align="center") 07/06/2017
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center") 23
							td(align="center")
								.rating-container
									span.t-rating(uib-rating ng-model="4" read-only="true"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-12")
							td(align="center")
								a(data-ui-sref="dashboard-business-dtl").view-ico.opt-ico
									i.icon-eye
								span.n-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessblock()")
									i.icon-not-allowed
								span.delete-ico.opt-ico(data-ng-controller="ModalCtrl"  data-ng-click="businessdelete()")
									i.icon-delete
						
						
		.page-nation-list.c-3.margin-top-4x
			ul
				li
					a(href="#") 1
				li
					a(href="#").active 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") 5
				li
					a(href="#") 6
				li
					a(href="#") 7
				li
					a(href="#") 8
				li
					a(href="#").next-btn Next
						Span.ico
							i.icon-angle-right