.dashboard-business-section
	.dashboard-business-dtl
		.my-pages-row
				h3 Local Business or Place
				.__inner-row
						.row
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="dashboard-business-posts-dtl")
											figure
												img(src="images/property.jpg" alt="img").img-circle
											figcaption
												h4 Merchant Store Place