.dashboard-form-container
	.dashboard-form__box
		.logo
			img(src="images/logo.jpg" alt="img").img-responsive
		.email-msg
			.email-msg__heading-block
				h3 Email Confirmation - Link Sent
				p Please check your Inbox to confirm and activate your Account 
				.btn-field
					button.button.button-uppercase.button-block.button-font-medium.button-height-large.button-font-medium-txt.button-rounded.margin-bottom-3x(ng-click="$state.go('login')") ok
					