.advance-search-modal(data-ng-controller="searchCtrl")
	.modal-header
		h2.title Advanced Search
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close-o
	.modal-body
		.field-group
			.row
				.col-md-4.col-lg-4
					.advance-field-group
						.search-filed.s-outline.c-1
							label Title
							input(type="text" placeholder="News Title").search-field-control
							
					.advance-field-group
						.search-filed.s-outline.c-1
							label Location
							input(type="text" placeholder="Search by Location").search-field-control
					.advance-field-group
						.search-filed.s-outline.c-1
							label Keywords
							input(type="text" placeholder="Search by Keywords").search-field-control
					

				.col-md-4.col-lg-3.col-lg-offset-1
					
					.margin-bottom-4x
						.search-drop-down-field.c-1
							div(ng-dropdown-multiselect="" options="testmodeldata"  selected-model="testmodel" translation-texts="{buttonDefaultText: 'Steps'}"  extra-settings ="inputsettings")

						.search-drop-down-field.c-1
							div(ng-dropdown-multiselect="" options="testmodeldata"  selected-model="testmodel" translation-texts="{buttonDefaultText: 'Media'}"  extra-settings ="inputsettings")
						.search-drop-down-field.c-1
							div(ng-dropdown-multiselect="" options="testmodeldata"  selected-model="testmodel" translation-texts="{buttonDefaultText: 'Event Status'}"  extra-settings ="inputsettings")
						

				.col-md-4.col-lg-3.col-lg-offset-1
					
					.search-drop-down-field.c-1
						div(ng-dropdown-multiselect="" options="testmodeldata"  selected-model="testmodel" translation-texts="{buttonDefaultText: 'Relevance'}"  extra-settings ="inputsettings")  
					.search-drop-down-field.c-1
						div(ng-dropdown-multiselect="" options="testmodeldata"  selected-model="testmodel" translation-texts="{buttonDefaultText: 'Posted By'}"  extra-settings ="inputsettings")  
					.search-drop-down-field.c-1
						div(ng-dropdown-multiselect="" options="testmodeldata"  selected-model="testmodel" translation-texts="{buttonDefaultText: 'Event Expiry'}"  extra-settings ="inputsettings")  
					 
					
			.btn-field
				button.button.button-rounded.button-font-medium-txt.button-rounded.margin-left-1x.margin-bottom-1x.margin-right-1x.button-width-large Search
				button.button.button-green.button-rounded.button-font-medium-txt.button-rounded.margin-left-1x.margin-bottom-1x.margin-right-1x.button-width-large Reset
				button.button.button-danger.button-rounded.button-font-medium-txt.button-rounded.margin-left-1x.margin-bottom-1x.margin-right-1x.button-width-large Cancel
		