.confirm-modal
	.modal-header
		h2.title Awaiting Approval
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.adv-confirm-msg
			p Thanks for submitting your Advert Post which has been received successfully. This is now currently being reviewed to check that it meets our acceptability guidelines and criteria.
			.margin-top-5x
				p Once approved - you will receive an email within the next few hours - confirming that your Advert is now  Live on MyLifeRoute.
	.modal-footer
		.text-center
			a(href="#").text-theme.btn-link OK
     
		