.share-route-modal
	.modal-header
		h2.title Share  By Email 
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.share-form
			
			.c-field.c-b-sm.c-md.c-shadow
					input.c-field-control(placeholder="Post Link" readonly)
			
			
		
		