.invite-modal
	.modal-header
		h2.title Invite Others
		button(class="close-ico" id="forgot-close"  ng-click="cancel()")
			i.icon-close-o
	.modal-body
		.invite-form
			h3 Please enter the email address for sending invitation link.
			.field-group
				.c-field.c-bg-color.c-md
							input(type="text", placeholder="Enter Email Address").c-field-control
				.btn-field.text-center
					button.button.button-font-sbold.button-uppercase.button-width-large.button-height-large.button-rounded.margin-left-1x.margin-right-1x.margin-bottom-2x SUBMIT
					button.button.button-red.button-font-sbold.button-uppercase.button-width-large.button-height-large.button-rounded.margin-left-1x.margin-right-1x CANCEL
