.tips-modal
	.modal-header
		h2.title Tool Tips
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.tips-msg
			p "Here we will explain the purpose of tags. Text added here will be mapped with any business, brand and company name and if matched, the LR mention count of that will be increased."
		
		