
<div class="filter-form-block-container">
  <div class="field-group">
    <div class="filter-business-route">
      <div class="t-cell">
        <div class="c-field c-outline">
          <input class="c-field-control" type="text" placeholder="Enter Business / Company Name"/>
        </div>
      </div>
      <div class="t-cell">
        <div class="c-field c-outline">
          <input class="c-field-control" type="text" placeholder="Specify Location (City, Country etc)"/>
        </div>
      </div>
      <div class="t-cell">
        <div class="btn-field">
          <button class="button button-height-large button-rounded button-font-medium"> <i class="icon-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter-advance"><span class="pointer" ng-controller="ModalCtrl" ng-click="abusinesssearch()">Advanced</span></div>