
<div class="filter-form-block-container">
  <div class="field-group">
    <div class="filter-life-route">
      <div class="t-cell">
        <div class="c-field c-outline">
          <input class="c-field-control" type="text" placeholder="Enter Title"/>
        </div>
      </div>
      <div class="t-cell"><span class="f-label hidden-xs">Or</span></div>
      <div class="t-cell">
        <div class="c-field c-outline">
          <input class="c-field-control" type="text" placeholder="I am Currently..."/>
        </div>
      </div>
      <div class="t-cell">
        <div class="c-field c-outline">
          <input class="c-field-control" type="text" placeholder="I Want To Be..."/>
        </div>
      </div>
      <div class="t-cell"><span class="f-label hidden-xs">In</span></div>
      <div class="t-cell">
        <div class="c-field c-outline"> 
          <input class="c-field-control" type="text" placeholder="Specify Location (City, Country etc)"/>
        </div>
      </div>
      <div class="t-cell primarySearchCell">
        <div class="btn-field">
          <button class="button button-height-large button-rounded button-font-medium"><i class="icon-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="_advanceSearchBlk">
    <div class="innerBlk">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Keywords"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Steps</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Posting Status</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Media</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Posted By</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Relevance</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Total Cost</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class="search-drop-down-field">
              <select class="form-control">
                <option hidden="" selected="" disabled="">Activity Status</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <button class="button button-green button-rounded button-font-medium-txt button-block">Reset</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button class="button button-theme button-rounded button-font-medium-txt button-block">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter-advance">
  <!-- span.pointer(ng-controller="ModalCtrl"  ng-click="aliferoutesearch()" id="advanceButton") Advanced--><span class="pointer" ng-controller="routeCtrl" ng-click="toggleFilter()" id="advanceButton">Advanced</span>
</div>