.search-result-section
	.container
		h2.page-heading You searched for 
			span.up-letter.text-theme MAHMOOD PLC 
			
			|in 
			span.up-letter.text-theme ALL LOCATIONS

		.search-list-block
			.search-list-top
				span.total-result Found 1 Results  
				.sort-field-group
					span.label-field Sort by
					.select-control
						select.sort-field-control
							option(value='Grade') Status
			.search-list-data
				.business-route-box
					.row
						.col-md-3.col-sm-4.col-lg-3
							.business-p-info
								.business-img
									img(src="images/property.jpg" alt="img")
								.business-name
										h3 Mahmood Plc
								
								.list-label
									span b


						.col-md-9.col-sm-8.col-lg-9
							.business-dtl
								.business-dtl-info
									h3.business-title Lorem Ipsum is simply dummy text
									.business-dtl-txt
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
											br 
											|standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged...
									.business-dtl-info-list
										.row
											.col-md-6.col-lg-4
												ul.list-info
													
													li
														span.l-label Location
														span New York ,USA
													
											.col-md-6.col-lg-4
												ul.list-info
													
													li
														span.l-label Date created
														span 24th May 2016
													li
														span.l-label Last updated
														span 24th May 2017
													
											.col-md-6.col-lg-4
												.margin-top-3x
														button.button.button-rounded.button-font-medium.button-height-large.button-min-width-small  View
					.business-bottom-block
						ul
							
							

							li
								.t-follower
									span.icon
										i.icon-user-group
									span.__label Followers : 
									span 900
							