.my-pages-section
	.container
		.heading-block
			h3 My Pages (6/9)
		.__inner-container
			.my-pages-row
				h3 Local Business or Place
				.__inner-row
						.row
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="business-page")
											figure
												img(src="images/property.jpg" alt="img").img-circle
											figcaption
												h4 Merchant Store Place
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="create-business")
											figure
												img(src="images/business-page-icon.jpg" alt="img")
											figcaption
												h4 Create New
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="create-business")
											figure
												img(src="images/business-page-icon.jpg" alt="img")
											figcaption
												h4 Create New

			.my-pages-row
				h3 Brand or Product
				.__inner-row
						.row
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(href="#")
											figure
												img(src="images/property.jpg" alt="img").img-circle
											figcaption
												h4 Igniva Solutions 
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="create-company")
											figure
												img(src="images/company-page-icon.jpg" alt="img")
											figcaption
												h4 Create New
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="create-company")
											figure
												img(src="images/company-page-icon.jpg" alt="img")
											figcaption
												h4 Create New
			.my-pages-row
				h3 Company or Institution
				.__inner-row
						.row
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(href="#")
											figure
												img(src="images/property.jpg" alt="img").img-circle
											figcaption
												h4 ABC Product
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="create-brand")
											figure
												img(src="images/brand-page-icon.jpg" alt="img")
											figcaption
												h4 Create New
							.col-md-4.col-sm-4
								.my-pages-box
									.__inner-box
										a(data-ui-sref="create-brand")
											figure
												img(src="images/brand-page-icon.jpg" alt="img")
											figcaption
												h4 Create New