.page-view-section(data-ng-controller="dtlCtrl")
	.sp-btn.visible-sm.visible-xs(ng-click="sidenav()")
		span 
			i.icon-arrow-right
	.page-view-section-dtl
		.container
			.heading-block
				.row
					.col-md-7
						.breadcrumb-list
							ul
								li
									span My Pages 
								li
									span Business Profile 
								li
									span.active Expired
					.col-md-5
						.p-adv-opt
							a(data-ui-sref="create-advert").button.button-font-medium-txt.button-rounded.margin-left-1x.margin-right-1x Create Advert
							a(data-ui-sref="page-adverts-active").button.button-green.button-font-medium-txt.button-rounded.margin-left-1x  Active
						
			.__inner-cotainer
				.row
					.col-md-3
						.page-dtl-sidebar
							.close-btn.visible-sm.visible-xs(ng-click="closenav()")
								span
									i.icon-close-o
							.page-name-info
								.page-img
									figure
										img(src="images/dummy-page.jpg" alt="img")
									.page-img__overlay
										.fileUpload
											input(type="file" class="upload")
											span
												i.icon-camera
								.page-name
									h4 Merchant Store
								.page-location
									span
										i.icon-marker
									|  New York ,USA
							.page-nav-list
								ul
									li
										a(data-ui-sref="business-page" data-ui-sref-active="active") Home
										a(data-ui-sref="create-business-post").button.button-rounded.button-font-base-small.button-rounded.button-font-medium-txt.button-height-small Create Post
									li
										a(data-ui-sref="page-about" data-ui-sref-active="active") About
									li
										a(data-ui-sref="page-followers" data-ui-sref-active="active") Followers (221)
									li
										a(data-ui-sref="page-likes" data-ui-sref-active="active") Page Likes (88)
									li
										a(data-ui-sref="page-route-mention" data-ui-sref-active="active") LR Mentions (34)
									li
										a(data-ui-sref="page-events" data-ui-sref-active="active") Events (66)
									li
										a(data-ui-sref="page-reviews" data-ui-sref-active="active") Reviews (35)
									li
										a(data-ui-sref="page-adverts" data-ui-sref-active="active") My Adverts (3)
										a(data-ui-sref="create-advert").button.button-green.button-rounded.button-font-base-small.button-rounded.button-font-medium-txt.button-height-small Create Advert
								.margin-top-4x
									button.button.button-green.button-rounded.button-font-medium-txt.button-border-thin.button-width-large Edit Profile


					.col-md-9
						.page-adv-list
							span.total-adv Total Adverts : 3
							.row
								.col-md-4
									.adv-box
											a(data-ui-sref="page-adverts-dtl")
												figure
													img(src="images/adv-1.jpg" alt="img")
												figcaption
														h3.title Advert Title
														span.adv-location 
															i.icon-marker-o
															|Location

						
						

