.search-result-section
	.container
		h2.page-heading You searched for 
			span.up-letter.text-theme MAHMOOD CHOUDHURY 
			
			|in 
			span.up-letter.text-theme ALL LOCATIONS

		.search-list-block
			.search-list-top
				span.total-result Found 1 Results
				.sort-field-group
					span.label-field Sort by
					.select-control
						select.sort-field-control
							option(value='Grade') Status
			.search-list-data
				.people-route-list
					.people-route-box
						a(href="#")
							.user-p-info
								.user-p-info-box
									.user-img
										img(src="images/user.jpg" alt="img")
									.user-name
										h3 Mahmood Choudhury
									.user-profile
										h4 Senior Business Analyst
									.user-dtl-txt
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
											br 
											|standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged...
								.list-label
									span p
							.p-bottom-block
								ul
									li
										.t-routes
											span.label-name Liferoutes  :
											span 10
									li
										.t-news
											span.label-name News :
											span 24
									li
										.t-connection
											span.label-name Connections :
											span 70
									li
										.t-followers
											span.label-name Followers :
											span 80
									li
										.t-r-address
											span.label-name Location :
											span New York ,USA
									
