.notification-section {
    @include padding(100 0 50);

    .heading-block {
        @include border-bottom(1, solid, $theme);
        @include padding-bottom(10);

        h2 {
            @include fontsize(30);
            font-weight: 400;
            color: $theme;
        }
    }
    .notification-list {
        @include margin-top(100);

        .media {
            @include padding(20 0);
            @include margin(0);
            @include border-bottom(1, solid, lighten(#d7d7d7,10%));
            .user-pic {
                img {
                    width: 75px;
                    height: 75px;
                    @include circle;
                    object-fit: cover;
                }
            }

            .n-txt {
                p {
                    font-weight: 300;
                    @include fontsize(17);
                    color: $black;
                }
                .p-time {
                    font-weight: 300;
                    @include fontsize(13);
                    color: lighten($color-text-01, 10%);
                }
            }

            .media-left {
                @include padding-right(25);
            }
            .media-left,
            .media-right,
            .media-body {
                vertical-align: middle;
            }

            &:first-child {
                @include padding-top(0);
            }
        }
    }
}