<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Add Faq</h3>
        </div>
        <div class="panel-body">
          <form name="addfaqForm" ng-submit="addfaq(addfaqForm.$valid)">
            <div class="form-group">
              <input type="text" class="form-control"  name="question"  ng-model="faqData.question" ng-required="true" placeholder="Enter Question"/>
              <div class="text-left">
								<span class="text-danger" ng-show="addfaqForm.question.$error.required && !addfaqForm.question.$pristine">Please Enter Question.</span>
							</div>
            </div>
            <div class="form-group">
              <textarea rows="10" cols="5" class="form-control" name="answer"  ng-model="faqData.answer" ng-required="true" placeholder="Enter Text"/>
              <div class="text-left">
                <span class="text-danger" ng-show="addfaqForm.answer.$error.required && !addfaqForm.answer.$pristine">Please Enter answer.</span>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="addfaqForm.$invalid" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
