<div class="container-fluid">
   <div class="panel">

      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th>Name</th>

                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>About</td>
                        <td><a data-ui-sref="main.content_detail({page_id: 1})" class="btn btn-primary">Edit <i class="fa fa-edit"></i></a></td>

                     </tr>
                     <tr>
                        <td>Faq</td>
                        <td><a data-ui-sref="main.faqList" class="btn btn-primary">Edit <i class="fa fa-edit"></i></a></td>

                     </tr>
                     <tr>
                        <td>Privacy policy</td>
                        <td><a data-ui-sref="main.content_detail({page_id: 2})" class="btn btn-primary">Edit <i class="fa fa-edit"></i></a></td>

                     </tr>
                     <tr>
                        <td>Terms&amp;Condition</n></td>
                        <td><a data-ui-sref="main.content_detail({page_id: 3})" class="btn btn-primary">Edit <i class="fa fa-edit"></i></a></td>

                     </tr>
                  </tbody>
               </table>
            </div>
          </div>
        </div>

      </div>
   </div>
</div>
