<div class="container-fluid">
    <!-- OVERVIEW -->
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">Total Overview</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="metric">
              <span class="icon"><i class="fa fa-download"></i></span>
              <p>
                <span class="number">{{dashboardContent.traineeCount}}</span>
                <span class="title">Total Trainee</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="metric">
              <span class="icon"><i class="fa fa-shopping-bag"></i></span>
              <p>
                <span class="number">{{dashboardContent.trainerCount}}</span>
                <span class="title">Total Trainer</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="metric">
              <span class="icon"><i class="fa fa-eye"></i></span>
              <p>
                <span class="number">{{dashboardContent.testimonialsCounts}}</span>
                <span class="title">Total Testimonials</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
