    /*==================================== GLOBLE CSS ====================================*/

    html,
    body {
        height: 100%;
        width: 100%;
        line-height: $lineheight;
        font-family: $font-family;
        font-weight: 200;
        color: $color-n-black;
        //scroll-behavior: smooth;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        font-size: 15px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-text-stroke: 0;
        // -webkit-overflow-scrolling: touch;
    }

    body {
        overflow-x: hidden;
        @include transition(all 0.5s ease-in-out);

        &.bg-grey {
            background-color: #f8f8f8;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    ul,
    li,
    p,
    img {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 100%;
        font-weight: 200;
        outline: none;
        border: none;
        line-height: 1.4;
    }

    a {
        @include anchor;
        @include transition($trasition_all);
        color: inherit;
        &:hover {
            color: darken($theme, 20%);
        }
    }

    .responsiveimg {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .full {
        width: 100%;
    }

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    textarea {
        -webkit-appearance: none;
    }

    select {
        &:focus {
            outline: none;
        }
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle; //width: inherit;
        &.justified-cell {
            width: 1%;
        }
    }

    label {
        font-weight: 400;
    } // break
    .br {
        display: block;
    } // Margin
    @include maring-and-padding-spacing($spacing);
    .margin-1x {
        @extend %margin-1x;
    }

    .margin-left-1x {
        @extend %margin-left-1x;
    }

    .margin-left-2x {
        @extend %margin-left-2x;
    }

    .margin-left-3x {
        @extend %margin-left-3x;
    }

    .margin-left-4x {
        @extend %margin-left-4x;
    }

    .margin-left-6x {
        @extend %margin-left-6x;
    }

    .margin-right-1x {
        @extend %margin-right-1x;
    }

    .margin-right-2x {
        @extend %margin-right-2x;
    }

    .margin-right-3x {
        @extend %margin-right-3x;
    }

    .margin-right-4x {
        @extend %margin-right-4x;
    }

    .margin-right-6x {
        @extend %margin-right-6x;
    }

    .margin-top-1x {
        @extend %margin-top-1x;
    }

    .margin-top-2x {
        @extend %margin-top-2x;
    }

    .margin-top-3x {
        @extend %margin-top-3x;
    }

    .margin-top-4x {
        @extend %margin-top-4x;
    }

    .margin-top-5x {
        @extend %margin-top-5x;
    }

    .margin-top-6x {
        @extend %margin-top-6x;
    }

    .margin-top-8x {
        @extend %margin-top-8x;
    }

    .margin-top-10x {
        @extend %margin-top-10x;
    }

    .margin-top-11x {
        @extend %margin-top-11x;
    }

    .margin-top-12x {
        @extend %margin-top-12x;
    }

    .margin-bottom-1x {
        @extend %margin-bottom-1x;
    }

    .margin-bottom-2x {
        @extend %margin-bottom-2x;
    }

    .margin-bottom-3x {
        @extend %margin-bottom-3x;
    }

    .margin-bottom-4x {
        @extend %margin-bottom-4x;
    }

    .margin-bottom-5x {
        @extend %margin-bottom-5x;
    }

    .margin-bottom-6x {
        @extend %margin-bottom-6x;
    }

    .margin-bottom-8x {
        @extend %margin-bottom-8x;
    }

    .margin-bottom-10x {
        @extend %margin-bottom-10x;
    }

    .margin-bottom-11x {
        @extend %margin-bottom-11x;
    }

    .margin-bottom-12x {
        @extend %margin-bottom-12x;
    } // PADDING
    .padding-1x {
        @extend %padding-1x;
    }

    .padding-2x {
        @extend %padding-2x;
    }

    .padding-4x {
        @extend %padding-4x;
    }

    .padding-left-1x {
        @extend %padding-left-1x;
    }

    .padding-left-2x {
        @extend %padding-left-2x;
    }

    .padding-left-3x {
        @extend %padding-left-3x;
    }

    .padding-left-4x {
        @extend %padding-left-4x;
    }

    .padding-right-1x {
        @extend %padding-right-1x;
    }

    .padding-right-2x {
        @extend %padding-right-2x;
    }

    .padding-right-3x {
        @extend %padding-right-3x;
    }

    .padding-right-4x {
        @extend %padding-right-4x;
    }

    .padding-top-1x {
        @extend %padding-top-1x;
    }

    .padding-top-2x {
        @extend %padding-top-2x;
    }

    .padding-top-3x {
        @extend %padding-top-3x;
    }

    .padding-top-4x {
        @extend %padding-top-4x;
    }

    .padding-top-5x {
        @extend %padding-top-5x;
    }

    .padding-top-6x {
        @extend %padding-top-6x;
    }

    .padding-top-8x {
        @extend %padding-top-8x;
    }

    .padding-top-10x {
        @extend %padding-top-10x;
    }

    .padding-top-12x {
        @extend %padding-top-12x;
    }

    .padding-bottom-1x {
        @extend %padding-bottom-1x;
    }

    .padding-bottom-2x {
        @extend %padding-bottom-2x;
    }

    .padding-bottom-3x {
        @extend %padding-bottom-3x;
    }

    .padding-bottom-4x {
        @extend %padding-bottom-4x;
    }

    .padding-bottom-6x {
        @extend %padding-bottom-6x;
    }

    .padding-bottom-8x {
        @extend %padding-bottom-8x;
    }

    .padding-bottom-10x {
        @extend %padding-bottom-10x;
    }

    .Pad0_i {
        padding: 0 !important;
    } // Main
    .form-control {
        @include fontsize(13);
        @include box-shadow-none;
        @include radius(2px);
        border-color: darken($white, 4%);
        background-color: darken($white, 4%);
        &:focus {
            border-color: darken($theme, 20%);
            @include box-shadow-none;
        }
        &.input-lg {
            @include radius(4px);
            @include padding-left(12);
            @include padding-right(12);
            @include height(48);
        }
    }

    textarea {
        &.form-control {
            @include height(120);
            resize: none;
        }
    }

    input::-webkit-input-placeholder {
        line-height: normal !important;
    }

    input[type="file"] {
        cursor: pointer;
        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }

    .fileUpload {
        @include pos(rel, null);
        overflow: hidden;
        cursor: pointer;
         ::-webkit-file-upload-button {
            cursor: pointer;
        }
    }

    .fileUpload input.upload {
        @include pos(ab, 0);
        @include margin(0);
        @include padding(0);
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 100%;
        height: 100%;
    }

    .flowhidden {
        overflow: hidden;
    }


    .uppercase {
        text-transform: uppercase;
    }




    .fpw600 {
        font-family: $font-family;
        font-weight: 600;
    }

    .fpw700 {
        font-family: $font-family;
        font-weight: 700;
    }



    .ib_v {
        display: inline-block;
        vertical-align: middle;
    }
    .b_v {
        display: block;
    }

    .pointer {
        cursor: pointer;
    }

    .btn:focus {
        outline: none !important;
    }

    .row-5 {
        @include margin-left(-5);
        @include margin-right(-5);
        [class^="col-"] {
            @include padding-left(5);
            @include padding-right(5);
        }
    }

    .row-10 {
        @include margin-left(-10);
        @include margin-right(-10);
        [class^="col-"] {
            @include padding-left(10);
            @include padding-right(10);
        }
    }

    .row-2 {
        @include margin-left(-2);
        @include margin-right(-2);
        [class^="col-"] {
            @include padding-left(2);
            @include padding-right(2);
        }
    }



    .select-control {
        @include pos(rel, null);
        z-index: 0;
        &:after {
            color: #908d8d;
            text-align: center;
            font-family: 'icomoon' !important;
            @include pos(ab, 50% 30px null null);
            @include translatepos(0, -50%);
            content: "\e912"; // z-index: -1;
            @include fontsize(12);
            z-index: 1;
        }


        select {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-right: 35px !important;
            text-overflow: ellipsis;
            line-height: inherit;
            background-color: transparent;
            &::-ms-expand {
                display: none;
            }
        }
    }

    .hamburger {
        padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -4px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 40px;
        height: 2px;
        background-color: $white;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner.ham-red,
    .hamburger-inner.ham-red:before,
    .hamburger-inner.ham-red:after {
        background-color: $color-red;
    }
    .hamburger-inner.ham-white,
    .hamburger-inner.ham-white:before,
    .hamburger-inner.ham-white:after {
        background-color: $white;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--spin .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin .hamburger-inner::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    .hamburger--spin .hamburger-inner::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin.is-active .hamburger-inner {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        background-color: $white;
    }
    .hamburger--spin.is-active .hamburger-inner.ham-red,
    .hamburger--spin.is-active .hamburger-inner.ham-red:before,
    .hamburger--spin.is-active .hamburger-inner.ham-red:after
    {
        background-color: $white;
    }

    .hamburger--spin.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
        background-color: $white;
    }

    .hamburger--spin.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        background-color: $white;
    }

    @-webkit-keyframes arrow {
        0%,
        100% {
            bottom: 10px;
        }
        50% {
            bottom: 20px;
        }
    }

    @-moz-keyframes arrow {
        0%,
        100% {
            bottom: 10px;
        }
        50% {
            bottom: 20px;
        }
    }

    @-o-keyframes arrow {
        0%,
        100% {
            bottom: 10px;
        }
        50% {
            bottom: 20px;
        }
    }

    @keyframes arrow {
        0%,
        100% {
            bottom: 10px;
        }
        50% {
            bottom: 20px;
        }
    } //spinner
    .preloader {
        @include pos(fix, 0 0 0 0);
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: $color-red;
    }

    .spinner {
        width: 70px;
        text-align: center;
        @include pos(ab, 50% null null 50%);
        @include translatepos(-50%, -50%);
    }

    .spinner>div {
        width: 18px;
        height: 18px;
        background-color: $white;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
