footer
	.footer-section
		.container
			.row
				.col-md-4.col-sm-4
					.f-logo-block
						img(src="images/footer-logo.png" alt="img" class="img-responsive")
						h3 Reviews done right
						.f-social-links
							ul
								li
									a(href="#")
										i.icon-facbook
										
								li
									a(href="#")
										i.icon-twitter
										
				.col-md-8.col-sm-8
					.footer-inner-block
						.row
							.col-md-6.col-sm-6
								h2 Know more
								.f-page-links
									ul
										li
											a(ui-sref="about") About Us
										li
											a(ui-sref="terms") Terms &amp; Conditions
										li
											a(ui-sref="privacy") Privacy Policy
										li
											a(ui-sref="faq") FAQ’s
										
										li
											a(ui-sref="contact") Contact Us

							.col-md-6.col-sm-6
								h2 CONTACT INFO
								.f-contact-info
									ul
										li
											.media
												.media-left
													span.c-ico
														i.icon-marker
												.media-body
													p Lorem Ipsum Lorem Ipsum Suite 600, New York
										li
											.media
												.media-left
													span.c-ico
														i.icon-phone
												.media-body
													p 07903340743
										li
											.media
												.media-left
													span.c-ico
														i.icon-enevelope
												.media-body
													p Daniel@Writeupreviews.com
		.f-bottom-block
			.container-fluid
				.copy-txt
					p &copy; 2017 WRITEUP  -  Lorem Ipsum 
		.arrow-top(data-ng-controller="arrowctrl" data-ng-click= "offsetTop();")
			i.icon-arrow-top

//owl-carousel
script(src="assets/js/owl.carousel.min.js", type="text/javascript")
//rev
script(src="assets/js/jquery.themepunch.tools.min.js", type="text/javascript")
script(src="assets/js/jquery.themepunch.revolution.min.js", type="text/javascript")
//custom-scroll
script(src="node_modules/angular-nicescroll/demo/app/bower_components/jquery.nicescroll/jquery.nicescroll.min.js", type="text/javascript")
//angular
script(src="node_modules/angular/angular.js", type="text/javascript")
script(src="node_modules/angular-animate/angular-animate.min.js", type="text/javascript")
script(src="node_modules/angular-ui-router/release/angular-ui-router.min.js", type="text/javascript")
script(src="node_modules/angular-ui-router/release/stateEvents.min.js", type="text/javascript")
script(src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js", type="text/javascript")
script(src="node_modules/angular-owl-carousel2/src/angular-owl-carousel-2.js", type="text/javascript")
script(src="node_modules/angular-revolution/release/angular-revolution.js", type="text/javascript")
script(src="node_modules/angular-nicescroll/angular-nicescroll.js", type="text/javascript")
script(src="node_modules/ng-tags-input/build/ng-tags-input.min.js", type="text/javascript")
script(src="assets/js/app.js", type="text/javascript")







	