.search-modal-section
	.modal-header
		h2.title Search
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close-o
	.modal-body
		.field-group
			.row
				.col-md-6

					.c-field.c-b-sm.c-shadow.c-lh
						label Full Name
						input(type="text", placeholder="Enter Email/Username").c-field-control

					.c-field.c-b-sm.c-shadow.c-lh
						label Location
						input(type="text", placeholder="Enter Location...").c-field-control


				.col-md-6
					.c-field.c-b-sm.c-shadow.c-lh
						label Email
						input(type="text", placeholder="Enter Email..").c-field-control

					.c-field.c-b-sm.c-shadow.c-lh
						label Gender
						.select-control
							select.c-field-control
								option Male

			.c-field.c-b-sm
				.check-opt-field
					label  Age
					.list-opt
						ul
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name All
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name 0-15
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name 15-30
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name 30-40
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name 40-50
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name 50-60
							li
								label.label-checkbox-o.label-checkbox-o-lg
									input(type="checkbox")
									span.check-mark
									span.label-name 60+
			.row
				.col-md-6

					.c-field.c-b-sm.c-shadow.c-lh
						label Keywords/Interests
						input(type="text", placeholder="Enter..").c-field-control

					

					.c-field.c-b-sm.c-shadow.c-lh
						label Status
						.select-control
							select.c-field-control
								option Select
		


				.col-md-6
					.c-field.c-b-sm.c-shadow.c-lh
						label Registration Date
						input(type="text", placeholder="Enter..").c-field-control
			.btn-field
					button.button.button-shadow.button-width-large.button-green.button-height-large.button-font-bold.button-rounded.button-font-medium.margin-right-1x Search
					button.button.button-shadow.button-width-large.button-danger.button-height-large.button-font-bold.button-rounded.button-font-medium.margin-left-1x Reset

				
		