.work-history-modal
	.modal-header
		h2.title.text-center Work History
		button(class="close-ico" id="forgot-close"  ng-click="cancel()")
			i.icon-close-o
	.modal-body
		.work-history-list(ng-nicescroll nice-option="{cursorcolor: '#2abeeb',cursorwidth:'6px',background:'transparent',cursorborder:'1px solid #2abeeb',cursorborderradius:'0px',cursorfixedheight:50}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()")
			
				table.work-table
					thead
						tr
							th Job Title / Position
							th Experience
							th From
							th Company
							th Location
							
					tbody
						tr
							td(data-column="Job Title / Position") Software Developer
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							
						tr
							td(data-column="Job Title / Position") Team Leader
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							
						tr
							td(data-column="Job Title / Position") Team Leader
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							
						tr
							td(data-column="Job Title / Position") CEO
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							
						tr
							td(data-column="Job Title / Position") CEO
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							
						tr
							td(data-column="Job Title / Position") CEO
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							
						tr
							td(data-column="Job Title / Position") CEO
							td(data-column="Experience") 2 Years 6 Month
							td(data-column="From") 1993 - 2001
							td(data-column="Company") Igniva
							td(data-column="Location") London
							

     
		