.page-conatiner
	.notification-section.s-ov
		.container
			.main-heading
				h2.title Notifications
			.notification-list-block
				.n-list-row.u-read
					.media
						a(ui-sref="competitions-dtl")
							.media-left
								.user-img
									img(src="images/user-1.jpg" alt="img")
							.media-body
								.n-dtl-txt
									h2 John smith
									p Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.

				.n-list-row
					.media
						a(ui-sref="competitions-dtl")
							.media-left
								.user-img
									img(src="images/user-1.jpg" alt="img")
							.media-body
								.n-dtl-txt
									h2 John smith
									p Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.				
				.n-list-row
					.media
						a(ui-sref="competitions-dtl")
							.media-left
								.user-img
									img(src="images/user-1.jpg" alt="img")
							.media-body
								.n-dtl-txt
									h2 John smith
									p Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.				
				.n-list-row
					.media
						a(ui-sref="competitions-dtl")
							.media-left
								.user-img
									img(src="images/user-1.jpg" alt="img")
							.media-body
								.n-dtl-txt
									h2 John smith
									p Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.				
				.n-list-row
					.media
						a(ui-sref="competitions-dtl")
							.media-left
								.user-img
									img(src="images/user-1.jpg" alt="img")
							.media-body
								.n-dtl-txt
									h2 John smith
									p Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.				
				.notification-list-bottom
					button.button.button-circle.button-normal.button-border.button-dark.button-font-open.button-font-small Load more