.form-block-section
	.container
		.reset-form
			.form-block-box
				.inner-form
					.inner-form-row
						.inner-form-block
								.main-heading
									h2.title Reset Password
								.field-group
									
									.c-field
										input(type="password", placeholder="New Password").c-field-control
										
									.c-field
										input(type="password", placeholder="Confirm Password").c-field-control
									
									
									.c-field.text-center
										.margin-top-12x
											button.button.button-block.button-height-large.button-font-base.button-uppercase.button-shadow Submit

						




