footer
	.inner-footer
		.container
			.footer-links
				ul
					li
						a(data-ui-sref="helpsupport.section({ type: 'news'})") FAQ
					li
						a(data-ui-sref="about") About Us 
				
		.bottom-bar
			.container
				.bottom-bar-container
					p.cpy-right Copyright © 2017  MyLifeRoute.
					.follow-div(data-ng-show="$state.includes('home')")
						h3.hidden-xs Follow Us On 
						ul
							li
								a(href="https://www.facebook.com/myliferoute" target="_blank").facbook-ico
									i.icon-facebook
							li
								a(href="https://twitter.com/myliferoute" target="_blank").twitter-ico
									i.icon-twitter
							li
								a(href="https://www.youtube.com/myliferoute" target="_blank").youtube-ico 
									i.icon-youtube

						
//owl-carousel
script(src="assets/js/owl.carousel.min.js", type="text/javascript")
//custom-scroll
script(src="node_modules/angular-nicescroll/demo/app/bower_components/jquery.nicescroll/jquery.nicescroll.min.js", type="text/javascript")
//angular
script(src="node_modules/angular/angular.js", type="text/javascript")
script(src="node_modules/angular-animate/angular-animate.min.js", type="text/javascript")
script(src="node_modules/angular-ui-router/release/angular-ui-router.min.js", type="text/javascript")
script(src="node_modules/angular-ui-router/release/stateEvents.min.js", type="text/javascript")
script(src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js", type="text/javascript")
script(src="node_modules/angular-owl-carousel2/src/angular-owl-carousel-2.js", type="text/javascript")
script(src="node_modules/ng-tags-input/build/ng-tags-input.min.js", type="text/javascript")
script(src="node_modules/angular-nicescroll/angular-nicescroll.js", type="text/javascript")
script(src="node_modules/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js", type="text/javascript")
script(src="node_modules/chart.js/dist/Chart.bundle.min.js", type="text/javascript")
script(src="node_modules/angular-chart.js/dist/angular-chart.min.js", type="text/javascript")
//video-js
script(src="node_modules/video.js/dist/video.min.js", type="text/javascript")
script(src="node_modules/videojs-youtube/dist/Youtube.min.js", type="text/javascript")
script(src="node_modules/videojs-vimeo/src/Vimeo.js", type="text/javascript")
script(src="node_modules/vjs-video/dist/vjs-video.min.js", type="text/javascript")
//fancy-box
script(src="node_modules/fancybox-plus/dist/jquery.fancybox-plus.min.js", type="text/javascript")
script(src="node_modules/angular-fancybox-plus/js/angular-fancybox-plus.js", type="text/javascript")
script(src="assets/js/app.js", type="text/javascript")
script(src="assets/js/routing.js", type="text/javascript")