<header id="header">
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="brand">
         <a href="index.html"><img src="assets/images/trainedplus.png" alt="trainedplus" class="img-responsive logo"></a>
      </div>
      <div class="container-fluid">
         <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
         </div>
         <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown" uib-dropdown>
                  <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle>
                     <div class="_userImg">
                        <img src="assets/images/avatar.jpg" class="img-circle" alt="Avatar">
                     </div>
                     <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                  </a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                     <li>
                        <a  ng-click="logout()"><i class="lnr lnr-exit"></i> <span>Logout</span></a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>
