<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a data-ui-sref="main.dashboard" data-ui-sref-active="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
        <li><a data-ui-sref="main.usermanagement" data-ui-sref-active="active"><i class="lnr lnr-users"></i> <span>User Management</span></a></li>
        <li><a data-ui-sref="main.trainermanagement" data-ui-sref-active="active"><i class="lnr lnr-users"></i> <span>Trainer Management</span></a></li>
        <li><a data-ui-sref="main.change_password" data-ui-sref-active="active"><i class="fa fa-gear"></i> <span>Settings</span></a></li>
        <li><a data-ui-sref="main.content_management" data-ui-sref-active="active"><i class="fa fa-file"></i> <span>Content Mangement</span></a></li>
        <li><a data-ui-sref="main.manage_testimonials" data-ui-sref-active="active"><i class="fa fa-gear"></i> <span>Manage Testimonials</span></a></li>

      </ul>
    </nav>
  </div>
</div>
