.confirm-modal
	.modal-header
		h2.title Password Changed - Successful
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.confirm-msg
			h3 Your New Password has been changed
	.modal-footer
		.text-center
			a(href="#").text-theme.btn-link OK
     
		