.confirm-modal
	.modal-header
		h2.title Confirmation
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.confirm-msg
			h3 Are you sure to remove
				br
				|this connection ?
		.margin-top-6x.text-center
			button.button.button-green.button-width-large.button-rounded.button-height-large.margin-right-3x
				i.icon-check-bold
			button.button.button-danger.button-width-large.button-rounded.button-height-large.margin-left-3x
				i.icon-close-bold
     
		