.i-peoplelist-modal
	.modal-header
		h2.title.text-center 66 Interested People
		button(class="close-ico" id="forgot-close"  ng-click="cancel()")
			i.icon-close-o
	.modal-body()
		.p-list(ng-nicescroll nice-option="{cursorcolor: '#e87119',cursorwidth:'6px',background:'#dedede',cursorborder:'1px solid #e87119',cursorborderradius:'5px',touchbehavior:true}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()" )
			.media
				.media-left
					.usr-pic
						img(src="images/user.jpg" alt="img")
				.media-body
					.usr-name
						h4 Albert Smith
			.media
				.media-left
					.usr-pic
						img(src="images/user.jpg" alt="img")
				.media-body
					.usr-name
						h4 Albert Smith
			.media
				.media-left
					.usr-pic
						img(src="images/user.jpg" alt="img")
				.media-body
					.usr-name
						h4 Albert Smith
			.media
				.media-left
					.usr-pic
						img(src="images/user.jpg" alt="img")
				.media-body
					.usr-name
						h4 Albert Smith
			.media
				.media-left
					.usr-pic
						img(src="images/user.jpg" alt="img")
				.media-body
					.usr-name
						h4 Albert Smith
			.media
				.media-left
					.usr-pic
						img(src="images/user.jpg" alt="img")
				.media-body
					.usr-name
						h4 Albert Smith
		