.report-modal
	.modal-header
		h2.title Report This Post
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.report-form
			
			.c-field.c-bg-color.c-b-sm.c-md
				textarea.c-field-control(placeholder="Please provide as much information as possible with regards to the reason(s) why you have decided to report this Post." rows="5" cols="5")
					
		.margin-top-8x.text-center
			button.button.button-green.button-width-large.button-rounded.button-height-large.margin-right-3x
				i.icon-check-bold
			button.button.button-danger.button-width-large.button-rounded.button-height-large.margin-left-3x
				i.icon-close-bold
     
		