.reset-password-modal
	.modal-body
		.reset-password-form
			h3.title Reset Password
			.field-group
				.c-field.c-shadow.c-b-sm
						label New Password
						input(type="text", placeholder="Enter New Password").c-field-control
				.c-field.c-shadow.c-b-sm
						label Confirm Password
						input(type="text", placeholder="Enter New Password").c-field-control
				.btn-field
					button.button.button-rounded.button-uppercase.button-font-medium-txt.button-rounded.margin-bottom-1x.margin-right-1x.button-width-large.button-height-large.button-font-medium SAVE
					button.button.button-danger.button-uppercase.button-rounded.button-font-medium-txt.button-rounded.margin-bottom-1x.button-width-large.button-height-large.button-font-medium CANCEL
