.tips-modal
	.modal-header
		h2.title Tool Tips
		button(class="close-ico" id="close"  ng-click="cancel()")
			i.icon-close
	.modal-body
		.tips-msg
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qu
		
		