.page-conatiner
	.competion-section.s-ov
		.container
			.row
				.col-md-6.col-sm-6
					.main-heading
						h2.title Previous Competitions
				.col-md-6.col-sm-6
					.main-heading-r(ng-click="$state.go('competitions-create')" )
						h2.title.pointer 
							span.ico
								i.icon-plus-symbol
							span.ib_v Create competition

			.competion-block
				.competion-block-history-list
					.competion-block__inner
						uib-tabset(justified="true")
							uib-tab(index="0" heading="hosted by writeup")
								.competion-content-block
									.c-box
										.c-cell.c-user-dtl-cell
											.c-user-dtl
												
												.c-dtl-txt
													h3.title John smith
													p
														span.fw200 Praesent blandit 
													p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
													a(ui-sref="competitions-all" class="more-link") Read more ....
													.c-dtl-info
														ul
															li 
																span.fw300 Section : 
																|Gym
															li 
																span.fw300 Host : 
																|Gym
															li 
																span.text-blue.margin-right-2x
																	i.icon-cup-o
																|3 months free pass
															li 
																span.l-label Live
																|04/11/2017 - 08/11/2017
													

										.c-cell.c-img-cell
											figure
												img(src="images/rv.jpg" alt="img")
									.c-box
										.c-cell.c-user-dtl-cell
											.c-user-dtl
												
												.c-dtl-txt
													h3.title John smith
													p
														span.fw200 Praesent blandit 
													p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
													a(ui-sref="competitions-all" class="more-link") Read more ....
													.c-dtl-info
														ul
															li 
																span.fw300 Section : 
																|Gym
															li 
																span.fw300 Host : 
																|Gym
															li 
																span.text-blue.margin-right-2x
																	i.icon-cup-o
																|3 months free pass
															li 
																span.l-label Live
																|04/11/2017 - 08/11/2017
													

										.c-cell.c-img-cell
											figure
												img(src="images/rv.jpg" alt="img")
									.c-box
										.c-cell.c-user-dtl-cell
											.c-user-dtl
												
												.c-dtl-txt
													h3.title John smith
													p
														span.fw200 Praesent blandit 
													p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
													a(ui-sref="competitions-all" class="more-link") Read more ....
													.c-dtl-info
														ul
															li 
																span.fw300 Section : 
																|Gym
															li 
																span.fw300 Host : 
																|Gym
															li 
																span.text-blue.margin-right-2x
																	i.icon-cup-o
																|3 months free pass
															li 
																span.l-label Live
																|04/11/2017 - 08/11/2017
													
										.c-cell.c-img-cell
											figure
												img(src="images/rv.jpg" alt="img")
									.margin-top-6x.text-center
										button.button.button-circle.button-normal.button-border.button-dark.button-font-open.button-font-small Load more
							uib-tab(index="1" heading="Hosted by company") 
								.competion-content-block
									.c-box
										.c-cell.c-user-dtl-cell
											.c-user-dtl
												
												.c-dtl-txt
													h3.title John smith
													p
														span.fw200 Praesent blandit 
													p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
													a(ui-sref="competitions-all" class="more-link") Read more ....
													.c-dtl-info
														ul
															li 
																span.fw300 Section : 
																|Gym
															li 
																span.fw300 Host : 
																|Gym
															li 
																span.text-blue.margin-right-2x
																	i.icon-cup-o
																|3 months free pass
															li 
																span.l-label Live
																|04/11/2017 - 08/11/2017
													

										.c-cell.c-img-cell
											figure
												img(src="images/rv.jpg" alt="img")
									.c-box
										.c-cell.c-user-dtl-cell
											.c-user-dtl
												
												.c-dtl-txt
													h3.title John smith
													p
														span.fw200 Praesent blandit 
													p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
													a(ui-sref="competitions-all" class="more-link") Read more ....
													.c-dtl-info
														ul
															li 
																span.fw300 Section : 
																|Gym
															li 
																span.fw300 Host : 
																|Gym
															li 
																span.text-blue.margin-right-2x
																	i.icon-cup-o
																|3 months free pass
															li 
																span.l-label Live
																|04/11/2017 - 08/11/2017
													

										.c-cell.c-img-cell
											figure
												img(src="images/rv.jpg" alt="img")
									.c-box
										.c-cell.c-user-dtl-cell
											.c-user-dtl
												
												.c-dtl-txt
													h3.title John smith
													p
														span.fw200 Praesent blandit 
													p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
													a(ui-sref="competitions-all" class="more-link") Read more ....
													.c-dtl-info
														ul
															li 
																span.fw300 Section : 
																|Gym
															li 
																span.fw300 Host : 
																|Gym
															li 
																span.text-blue.margin-right-2x
																	i.icon-cup-o
																|3 months free pass
															li 
																span.l-label Live
																|04/11/2017 - 08/11/2017
													
										.c-cell.c-img-cell
											figure
												img(src="images/rv.jpg" alt="img")
									.margin-top-6x.text-center
										button.button.button-circle.button-normal.button-border.button-dark.button-font-open.button-font-small Load more
							