.page-conatiner
	.profile-section.s-ov
		.container
			.main-heading
				h2.title Profile preview
			.profile-block.emp-profile
				.profile-block-dtl
					.row
						.col-md-4.col-sm-5
							.p-user-block
								.p-img
									img(src="images/profile.jpg" alt="img" class="img-responsive")
								.p-user-info-block
									.p-trophies
										h3.title 
											span Trophies
										.p-trophies-list
											ul
												li
													img(src="images/trophy-1.png" alt="img")
												li
													img(src="images/trophy-2.png" alt="img")
												li
													img(src="images/trophy-3.png" alt="img")
												li
													img(src="images/trophy-2.png" alt="img")
												li
													img(src="images/trophy-1.png" alt="img")
												li
													img(src="images/trophy-3.png" alt="img")
									

						.col-md-8.col-sm-7
							.p-personal-info-block
								.row
									.col-md-12
										.user-name 
											h3 John smith
										.user-profile
											h4 Product Designer - 
												span.text-black ABC IT COMPANY
										
								
								.user-rating-cotainer
											h3 Rating
											.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'"  read-only="true" aria-labelledby="default-rating-1")
								.p-user-opt
									button.button.button-blue-dark.button-font-open.button-uppercase.button-font-small.margin-right-4x.margin-bottom-2x(ng-click="$state.go('write-review')" )  Review this user
									button.button.button-border.button-blue-dark.button-font-open.button-uppercase.button-font-small.button-width-large  subscribe
								.p-tabs
									uib-tabset
										uib-tab(index="0" heading="Personal Information")
											.p-tab-cotent
												.up-info
													.up-info-row
														h3 About
														.up-row
															.t-cell.label-name
																label Bio :
															.t-cell
																p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quamnunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec.
													.up-info-row.up-c-info
														h3 Contact Information
														.up-row
															.t-cell.label-name
																label Company Name  :
															.t-cell
																p ABCD IT Company

														.up-row
															.t-cell.label-name
																label Company Associated  :
															.t-cell
																p 525E 68th Street 
																	br
																	|New York, NY 10651-78 156-187-60
										uib-tab(index="1" heading="Company Information")
											.p-tab-cotent
												.up-info
													.up-info-row
														h3 About
														.up-row
															.t-cell.label-name
																label Bio :
															.t-cell
																p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quamnunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec.
													.up-info-row.up-c-info
														h3 Contact Information
														.up-row
															.t-cell.label-name
																label Company Name  :
															.t-cell
																p ABCD IT Company

														.up-row
															.t-cell.label-name
																label Company Associated  :
															.t-cell
																p 525E 68th Street 
																	br
																	|New York, NY 10651-78 156-187-60				
													
														


				.p-rev-cotainer
					h2.title
						span Recent Reviews
					.review-block
						.review-list
							.review-box
								.media
									.media-left
										.user-img
											img(src="images/user-1.jpg" alt="img")
									.media-body
										.user-name
											h3 Sam wilson
										.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star-o star-uncheck-o'"  read-only="true" aria-labelledby="default-rating-2")
										.review-txt
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
												a(href="#" class="r-link")  View More
										.review-opt
											
												ul
														li
															span Reply 3
															span.ico
																i.icon-reply
														li
															span 390
															span.ico.liked
																i.icon-heart
														li
															span 20
															span.ico.text-blue
																i.icon-network
														li.report-ico(ng-controller="ModalCtrl"  ng-click="report()" class="pointer")
															span.ico.pointer
																i.icon-do-not-disturb
										
							
								
										
							.review-box
								.media
									.media-left
										.user-img
											img(src="images/user-1.jpg" alt="img")
									.media-body
										.user-name
											h3 Sam wilson
										.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star-o star-uncheck-o'"  read-only="true" aria-labelledby="default-rating-2")
										.review-txt
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
												a(href="#" class="r-link")  View More
										.review-opt
											
												ul
														li
															span Reply 3
															span.ico
																i.icon-reply
														li
															span 390
															span.ico.liked
																i.icon-heart
														li
															span 20
															span.ico.text-blue
																i.icon-network
														li.report-ico(ng-controller="ModalCtrl"  ng-click="report()" class="pointer")
															span.ico.pointer
																i.icon-do-not-disturb
										
							.text-center.margin-top-5x
								a(href="#" class="view-link") View all Reviews

			