.page-conatiner
	.competion-section.s-ov
		.container
			.error-block
				.error-block__txt
					h2 404 Error.
					p Oooooops! Looks like nothing was found at this location. 
						br
						|Maybe try on of the links below, click on the top menu or try a search? 
