.page-conatiner
	.submision-section.s-ov
		.container
			.main-heading
				h2.title My submissions
			.submision-block
				.submision-block-list
					.sub-box
								
						.sub-user-dtl
							.sub-user-pic
								img(src="images/user.jpg" alt="img")
							.sub-dtl-txt
								h3.title John smith
								p
									span.fw200 Praesent blandit 
								p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
								a(href="#" class="more-link") Read more ....
								.sub-dtl-info
									ul
										li 
											span.fw300 Section : 
											|Gym
										li 
											span.fw300 Views  : 
											|2K
										li 
											span.text-red.margin-right-2x
												i.icon-heart
											|768
										li 
											span.text-blue.margin-right-2x
												i.icon-bubble
											|450
										li
											a(ui-sref="write-review")
												span.text-blue.margin-right-2x
													i.icon-pencil-edit-button
												|Edit this review

					.sub-box
								
						.sub-user-dtl
							.sub-user-pic
								img(src="images/user.jpg" alt="img")
							.sub-dtl-txt
								h3.title John smith
								p
									span.fw200 Praesent blandit 
								p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
								a(href="#" class="more-link") Read more ....
								.sub-dtl-info
									ul
										li 
											span.fw300 Section : 
											|Gym
										li 
											span.fw300 Views  : 
											|2K
										li 
											span.text-red.margin-right-2x
												i.icon-heart
											|768
										li 
											span.text-blue.margin-right-2x
												i.icon-bubble
											|450
										li 
											a(ui-sref="write-review")
												span.text-blue.margin-right-2x
													i.icon-pencil-edit-button
												|Edit this review
					.sub-box
								
						.sub-user-dtl
							.sub-user-pic
								img(src="images/user.jpg" alt="img")
							.sub-dtl-txt
								h3.title John smith
								p
									span.fw200 Praesent blandit 
								p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
								a(href="#" class="more-link") Read more ....
								.sub-dtl-info
									ul
										li 
											span.fw300 Section : 
											|Gym
										li 
											span.fw300 Views  : 
											|2K
										li 
											span.text-red.margin-right-2x
												i.icon-heart
											|768
										li 
											span.text-blue.margin-right-2x
												i.icon-bubble
											|450
										li 
											a(ui-sref="write-review")
												span.text-blue.margin-right-2x
													i.icon-pencil-edit-button
												|Edit this review
					.sub-box
								
						.sub-user-dtl
							.sub-user-pic
								img(src="images/user.jpg" alt="img")
							.sub-dtl-txt
								h3.title John smith
								p
									span.fw200 Praesent blandit 
								p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
								a(href="#" class="more-link") Read more ....
								.sub-dtl-info
									ul
										li 
											span.fw300 Section : 
											|Gym
										li 
											span.fw300 Views  : 
											|2K
										li 
											span.text-red.margin-right-2x
												i.icon-heart
											|768
										li 
											span.text-blue.margin-right-2x
												i.icon-bubble
											|450
										li 
											a(ui-sref="write-review")
												span.text-blue.margin-right-2x
													i.icon-pencil-edit-button
												|Edit this review
				.sub-box
								
						.sub-user-dtl
							.sub-user-pic
								img(src="images/user.jpg" alt="img")
							.sub-dtl-txt
								h3.title John smith
								p
									span.fw200 Praesent blandit 
								p Praesent blandit turpis leo, ut iaculis arcu. Pas umsan tristique massa, in auctor  at hendrerit id. Sed liquam quis. Phasellus sit amet libero ligula. Pellentesque convallis nisl sit amet lacus luctus vel consequat ligula suscipit. Aliquam et metus sed tortor eleifend..
								a(href="#" class="more-link") Read more ....
								.sub-dtl-info
									ul
										li 
											span.fw300 Section : 
											|Gym
										li 
											span.fw300 Views  : 
											|2K
										li 
											span.text-red.margin-right-2x
												i.icon-heart
											|768
										li 
											span.text-blue.margin-right-2x
												i.icon-bubble
											|450
										li 
											a(ui-sref="write-review")
												span.text-blue.margin-right-2x
													i.icon-pencil-edit-button
												|Edit this review
				.margin-top-6x.text-center
										button.button.button-circle.button-normal.button-border.button-dark.button-font-open.button-font-small Load more