.page-conatiner
	.all-review-section.s-ov
		.container
			.main-heading
				h2.title all reviews
			.all-review-block
				.all-review-header
					.media
						.media-left
							.c-pic
								img(src="images/c-logo.png" alt="img")
						.media-body
							.c-name
								h3 ABCD company
							.c-profile
								h4 IT Company
							.c-rating-cotainer
											.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'"  read-only="true" aria-labelledby="default-rating-1")
					.close-ico
						span
							i.icon-close
				.all-review-list(ng-nicescroll nice-option="{cursorcolor: '#484d52'}")
					.review-block
						.review-list
							.review-box
								.media
									.media-left
										.user-img
											img(src="images/user-1.jpg" alt="img")
									.media-body
										.user-name
											h3 Sam wilson
										.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star-o star-uncheck-o'"  read-only="true" aria-labelledby="default-rating-2")
										.review-txt
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
												a(href="#" class="r-link")  View More
										.review-opt
											
												ul
														li
															span Reply 3
															span.ico
																i.icon-reply
														li
															span 390
															span.ico.liked
																i.icon-heart
														li
															span 20
															span.ico.text-blue
																i.icon-network
														li.report-ico(ng-controller="ModalCtrl"  ng-click="report()" class="pointer")
															span.ico.pointer
																i.icon-do-not-disturb
											
										
							
								.rev-reply-list
									.review-box
											.media
												.media-left
													.user-img
														img(src="images/user-1.jpg" alt="img")
												.media-body
													.user-name
														h3 Sam wilson
													
													.review-txt
														p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
															a(href="#" class="r-link")  View More
									.margin-top-5x
										a(href="#" class="view-link") View all
									.rev-reply-field
										textarea(placeholder="Type here" rows="1" cols="2").rev-reply-field-control
										.reply-btn
											i.icon-paper-plain
										
							.review-box
								.media
									.media-left
										.user-img
											img(src="images/user-1.jpg" alt="img")
									.media-body
										.user-name
											h3 Sam wilson
										.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star-o star-uncheck-o'"  read-only="true" aria-labelledby="default-rating-2")
										.review-txt
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
												a(href="#" class="r-link")  View More
										.review-opt
											
												ul
														li
															span Reply 3
															span.ico
																i.icon-reply
														li
															span 390
															span.ico.liked
																i.icon-heart
														li
															span 20
															span.ico.text-blue
																i.icon-network
														li.report-ico(ng-controller="ModalCtrl"  ng-click="report()" class="pointer")
															span.ico.pointer
																i.icon-do-not-disturb
											

							.review-box
								.media
									.media-left
										.user-img
											img(src="images/user-1.jpg" alt="img")
									.media-body
										.user-name
											h3 Sam wilson
										.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star-o star-uncheck-o'"  read-only="true" aria-labelledby="default-rating-2")
										.review-txt
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
												a(href="#" class="r-link")  View More
										.review-opt
											
												ul
														li
															span Reply 3
															span.ico
																i.icon-reply
														li
															span 390
															span.ico.liked
																i.icon-heart
														li
															span 20
															span.ico.text-blue
																i.icon-network
														li.report-ico(ng-controller="ModalCtrl"  ng-click="report()" class="pointer")
															span.ico.pointer
																i.icon-do-not-disturb
											
						.review-box
								.media
									.media-left
										.user-img
											img(src="images/user-1.jpg" alt="img")
									.media-body
										.user-name
											h3 Sam wilson
										.rating-container
												span(uib-rating ng-model="4"  state-on="'icon-star star-checked'" state-off="'icon-star-o star-uncheck-o'"  read-only="true" aria-labelledby="default-rating-2")
										.review-txt
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.... 
												a(href="#" class="r-link")  View More
										.review-opt
											
												ul
														li
															span Reply 3
															span.ico
																i.icon-reply
														li
															span 390
															span.ico.liked
																i.icon-heart
														li
															span 20
															span.ico.text-blue
																i.icon-network
														li.report-ico(ng-controller="ModalCtrl"  ng-click="report()" class="pointer")
															span.ico.pointer
																i.icon-do-not-disturb
											
										
							
