.page-conatiner
	.subcription-section.s-ov
		.container
			.search-result-top
				.row
					.col-md-3
						.main-heading
							h2.title Subscriptions
					.col-md-9
						.search-result-filter__block
							.search-result-filter
								ul
									li
										label.label-checkbox
											input(type="checkbox")
											span.check-mark 
											span.label-name Company
									
									li
										label.label-checkbox
											input(type="checkbox")
											span.check-mark 
											span.label-name User
							.search-box-container(data-ng-controller="SearchCtrl")
								.search-box-ico(ng-click="field();")
									i.icon-magnifier-o
								.search-field
									input(type="text").search-field-control

			.subcription-list-block
				.subcription-list-row
					.media
						.media-left
							.user-pic
								img(src="images/user-1.jpg" alt="img")
						.media-body
							.user-name
								h3 John smith
						.media-right
							button.button.button-uppercase.button-font-base.button-font-bold.button-width-large Unsubscribe
				.subcription-list-row
					.media
						.media-left
							.user-pic
								img(src="images/user-1.jpg" alt="img")
						.media-body
							.user-name
								h3 John smith
						.media-right
							button.button.button-uppercase.button-font-base.button-font-bold.button-width-large Unsubscribe
				.subcription-list-row
					.media
						.media-left
							.user-pic
								img(src="images/user-1.jpg" alt="img")
						.media-body
							.user-name
								h3 John smith
						.media-right
							button.button.button-uppercase.button-font-base.button-font-bold.button-width-large Unsubscribe
				.subcription-list-row
					.media
						.media-left
							.user-pic
								img(src="images/user-1.jpg" alt="img")
						.media-body
							.user-name
								h3 John smith
						.media-right
							button.button.button-uppercase.button-font-base.button-font-bold.button-width-large Unsubscribe
				.subcription-list-row
					.media
						.media-left
							.user-pic
								img(src="images/user-1.jpg" alt="img")
						.media-body
							.user-name
								h3 John smith
						.media-right
							button.button.button-uppercase.button-font-base.button-font-bold.button-width-large Unsubscribe
				.margin-top-6x.padding-bottom-6x.text-center
					button.button.button-circle.button-normal.button-border.button-dark.button-font-open.button-font-small Load more

			
										
							
