.news-event-dtl-section
	.container
		.heading-block
			.row
					.col-md-6
							.breadcrumb-list
								ul
									li
										span Event
									li
										span.active New Event Party
					.col-md-6
						.btn-opt
							button.button.button-width-large.button-font-medium-txt.margin-top-2x.magin-bottom-1x.margin-left-1x Edit
							button.button.button-danger.button-width-large.button-font-medium-txt.margin-top-2x.margin-left-1x Delete 

							button.button.button-width-large.button-font-medium-txt.margin-top-2x.magin-bottom-1x.margin-left-1x Interested
							button.button.button-danger.button-width-large.button-font-medium-txt.margin-top-2x.margin-left-1x Not Interested 
			
		.news-event-dtl-box
			.__inner-container
				.title-block
					.text-right
						button.button.button-danger-light.button-font-base.button-font-sbold.button-rounded.button-width-large(ng-controller="ModalCtrl"  ng-click="reportpost()") Report
					h3.title New Event Party
				.slider-block
					.news-event-slider-block
						.news-event-slider(data-ng-controller="newsCtrl")
								ng-owl-carousel(class="owl-theme" owl-items="items" owl-properties="properties" owl-ready="ready($api)")
									.item(data-ng-repeat="item in items")
										figure
											img(src="images/news-1.jpg" alt="img")
											figcaption
												h4 New_assign_name
						div(id="sliderNav" class="sliderNav")
				.n-event-info
					ul
						li
							span.__label Location :
							| New York ,USA
						li
							span.__label Date Created  :
							| 24th May 2016
						li
							.row
								.col-md-3
									span.__label Last Updated  :
									span 24th May 2017
								.col-md-9

									ul.social-info
										li
											span.ico.t-liked
												i.icon-thumb 
											span.fw400 Like : 
											span 500
										li
											span.ico.t-comment
												i.icon-comment 
											span.fw400 Comments : 
											span 40
										li
											span.ico.t-share
												i.icon-share 
											span.fw400 Share : 
											span 23
										li
											span.ico.t-intersted
												i.icon-user-o
											span.fw400 Interested : 
											span 23
				.n-event-des-txt
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged floewf dustry standard dum has been flp lly unchanged dsx owkd Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged floewf dustry standard dum has been flp lly unchanged dsx owkd Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text is these when an unnown py qwe gth  isps  took a galley tia smx oko industry standard dummy text ever since the 1500s, when an unknown printer took a galley tially unchanged floewf dustry standard dum has been flp lly unchanged dsx owkd
				.n-event-keyword
					span.__label Keywords : 
					|Lifestyle, New-age, Apparels, 2017, Exciting

							

			.list-label.e-list-label
				span E
		.route-comments-block
			.row
				.col-md-8
					.route-comments-block__info.oth-usr
						.row
							.col-md-3.col-elg-2
								.usr-pic
									img(src="images/user.jpg" alt="img")
								.usr-name
									h4 James Young
							.col-md-9.col-elg-10
								.list-info
									ul
										li
											button.button.button-rounded.button-height-small.button-font-small.button-font-sbold Follow
											.margin-top-2x
												button.button.button-danger.button-rounded.button-height-small.button-font-small.button-font-sbold(ng-controller="ModalCtrl"  ng-click="reportuser()") Report
										li Like
											span 500
										li  Comments
											span 40
										li Share
											span 23
					.route-comments__list
						.header-block
							h4 Comments
						.route-comments__listdata
							.comment-txt-field
								.media
									.media-left
										.usr-pic
											img(src="images/user.jpg" alt="img")
									.media-body
										input(type="text" placeholder="Write a comment...")
										button.button.button-rounded.button-font-base-small.button-font-sbold.margin-top-2x Comment
							.comment-row
								.comment-box
									.media
										.media-left
											.usr-pic
												img(src="images/user.jpg" alt="img")
										.media-body
											.comment-msg
												.comment-msg__top
													.comment-mg__usr-info
														.usr-name
															h4 Bryan Linquist CIA, CFE  
														.usr-profile
															h4 Chief Audit Exceutive
													.comment-mg__usr__opt
														.ico(ng-click="isoptCollapsed = !isoptCollapsed")
															i.icon-dots-ellips
															.drop-box(uib-collapse="!isoptCollapsed")
																span(ng-controller="ModalCtrl"  ng-click="report()") Report
														span.time 11:22 pm	
												p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
												.comment-msg__opt
													ul
														li
															span Like
														li
															span(ng-click="ireplyCollapsed0 = !ireplyCollapsed0") Reply
											.comment-reply-msg(uib-collapse="!ireplyCollapsed0")
												.media
													.media-left
														.r-usr-pic
															img(src="images/user.jpg" alt="img")
													.media-body
														.comment-msg
															.comment-msg__top
																.comment-mg__usr-info
																	.usr-name
																		h4 Bryan Linquist CIA, CFE  
																	.usr-profile
																		h4 Chief Audit Exceutive
																.comment-mg__usr__opt
																	.ico
																		i.icon-dots-ellips
																	span.time 11:22 pm	
															p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
															.comment-msg__opt
																ul
																	li
																		span Like
																	li
																		span Reply
												.comment-txt-field
													.media
														.media-left
															.usr-pic
																img(src="images/user.jpg" alt="img")
														.media-body
															input(type="text" placeholder="Write a comment...")
															.text-right
																button.button.button-rounded.button-font-base-small.button-font-sbold.margin-top-2x Post

							.comment-row
								.comment-box
									.media
										.media-left
											.usr-pic
												img(src="images/user.jpg" alt="img")
										.media-body
											.comment-msg
												.comment-msg__top
													.comment-mg__usr-info
														.usr-name
															h4 Bryan Linquist CIA, CFE  
														.usr-profile
															h4 Chief Audit Exceutive
													.comment-mg__usr__opt
														.ico(ng-click="isoptCollapsed1 = !isoptCollapsed1")
															i.icon-dots-ellips
															.drop-box(uib-collapse="!isoptCollapsed1")
																span(ng-controller="ModalCtrl"  ng-click="report()") Report
														span.time 11:22 pm	
												p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
												.comment-msg__opt
													ul
														li
															span Like
														li
															span(ng-click="ireplyCollapsed1 = !ireplyCollapsed1") Reply
											.comment-reply-msg(uib-collapse="!ireplyCollapsed1")
												.media
													.media-left
														.r-usr-pic
															img(src="images/user.jpg" alt="img")
													.media-body
														.comment-msg
															.comment-msg__top
																.comment-mg__usr-info
																	.usr-name
																		h4 Bryan Linquist CIA, CFE  
																	.usr-profile
																		h4 Chief Audit Exceutive
																.comment-mg__usr__opt
																	.ico
																		i.icon-dots-ellips
																	span.time 11:22 pm	
															p  Lorem Ipsum is simply dummy text of the pgand typesetting industry. Lorem Ipsum has if been the industry's standard  dummy text the ever since the 1500s, when an unknown text printer took a galley tially unchanged...
															.comment-msg__opt
																ul
																	li
																		span Like
																	li
																		span Reply
												.comment-txt-field
													.media
														.media-left
															.usr-pic
																img(src="images/user.jpg" alt="img")
														.media-body
															input(type="text" placeholder="Write a comment...")
															.text-right
																button.button.button-rounded.button-font-base-small.button-font-sbold.margin-top-2x Post								