.my-message-section
	.container
		.row
			.col-md-8.col-md-offset-4 
				h2.title My Messages  
			.col-md-4
				.f-list-block
					.search-field
						input(type="text" placeholder="Search").search-field-control
						.icon-addon
							i.icon-search
					.f-list-data_cotainer
						.f-list-data(ng-nicescroll nice-option="{cursorcolor: '#2abeeb',cursorwidth:'6px',background:'none',cursorborder:'1px solid #c4c4c4',cursorborderradius:'5px',cursorfixedheight:70,touchbehavior:true}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()")
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park
									.t-msg
										span 2
									.time
										span 6 Days 
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...
							.media
								.media-left
									.usr-pic
										img(src="images/user.jpg" alt="img")
								.media-body
									.user-name
										h3 William Park 
									
									.time
										span 6 Days  
									.usr-des-txt
										p Praesent ipsum urna, aliguet wn uwhux...			

			.col-md-8
				.chat-box-container
					.chat-head__block
						.media
							.media-left
								.usr-pic
									img(src="images/user.jpg" alt="img")
							.media-body
								.usr-name
									h3 William Park
					.chat-msg__area(ng-nicescroll nice-option="{cursorcolor: '#2abeeb',cursorwidth:'8px',background:'none',cursorborder:'1px solid #c4c4c4',cursorborderradius:'5px',cursorfixedheight:70,touchbehavior:true}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()")
						.chat-msg__label
							span TUESDAY
						.chat-msg__box
							.msg
								.f-msg
									.usr-pic
										img(src="images/user.jpg" alt="img")
									.usr-msg__container
										.usr-msg
											p Lorem Ipsum is simply dummy text of the printing of the text
										span.p-time 08:51 am
							.msg
								.m-msg
									.me-msg__container
										.me-msg
											p Lorem Ipsum is simply dummy text of the printing of the text
										span.p-time 08:51 am
									.usr-pic
										img(src="images/user.jpg" alt="img")
							.msg
								.f-msg
									.usr-pic
										img(src="images/user.jpg" alt="img")
									.usr-msg__container
										.usr-msg
											p Lorem Ipsum is simply dummy text of the printing of the text
										.usr-msg
											p Lorem Ipsum is simply dummy text of the printing.
										.usr-msg
											p Lorem.
										span.p-time 08:51 am
							.msg
								.m-msg
									.me-msg__container
										.me-msg
											p Lorem Ipsum is simply dummy text of the printing of the text
										.me-msg
											p Lorem Ipsum is simply dummy text of the printing.
										span.p-time 08:51 am
									.usr-pic
										img(src="images/user.jpg" alt="img")
					.chat-msg__text-field
						.input-group
							textarea(placeholder="Type Message Here....")
							.input-group-btn
								button.chat-btn SEND
									


						
