.mp-connection-section
	.container
		.row
			.col-md-9.col-md-offset-3
				.heading-block
					.breadcrumb-list
						ul
							li
								a(href="#") My People
							li
								a(href="#").active People I am Following
			.col-md-3
					.filter-side-block.ap-filter
						.filter-side-box(ng-class="{'active':isfilterCollapsed}")
							.filter-block__top(ng-click="isfilterCollapsed = !isfilterCollapsed" class="pointer")
								h4 Filters
								span.caret
							.filter-field-group(uib-collapse="!isfilterCollapsed")
								.f-field
									input(type="text", placeholder="First Name").f-field-control
								.f-field
									input(type="text", placeholder="Last Name").f-field-control
								.f-field
									input(type="text", placeholder="Job Title/Position").f-field-control
								.f-field
									input(type="text", placeholder="Company").f-field-control
								.f-field
									input(type="text", placeholder="Location").f-field-control
								.filter-button-group
										.row.row-10
											.col-md-6.col-sm-6
												button.button.button-rounded.button-block.margin-bottom-2x Apply
											.col-md-6.col-sm-6
												button.button.button-border.button-theme.button-border-thin.button-rounded.button-block.margin-bottom-2x Reset
			.col-md-9
				.mp-connection__list.ap-filter
					.filter-ap-msg
							h4  
								span
									i.icon-asterisk-symbol 
								|Filters Applied
					.total-connection
						span Total Connections : 220
					.row
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
									
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
									
								
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
						.col-md-6.col-lg-4.col-sm-6
							.mp-connection-box
								.user-pic
									img(src="images/user-2.jpg" alt="img")
								.user-name
									a(href="#")
										h3 Albert Smith
								.user-profile
									h4 Senior Business Analyst
								.cp-name
									h4 Igniva Solutions
								.btn-block
									button.button.button-green.button-font-base-small.button-font-sbold.button-rounded.button-min-width-small Add
							
