.notification-section
	.container
		.heading-block
			h2 All Notifications (101)
		.notification-list
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
			.media
				a(href="#")
					.media-left
						.user-pic
							img(src="images/user.jpg" alt="img")
					.media-body
						.n-txt
							p Allen Daniel and 15 others commented on the news post !!!!!
							span.p-time 2 Min(s) Ago
	