.my-setting-section(data-ng-controller="settingCtrl")
	.sp-btn(data-ng-click="profileside(); showcaption = ! showcaption")
		span(ng-show="!showcaption").hidden-xs Hide Profile
		span(ng-show="showcaption").hidden-xs Show Profile
		//for mobile-view
		span( ng-show="!showcaption").visible-xs Show Profile
		span(ng-show="showcaption").visible-xs Hide Profile
	.container
		.my-setting-block
			.user-dtl-block
				.user-dtl-block-container
						.user-dtl-box
							.user-pic
								img(src="images/profile-3.jpg" alt="img")
							.user-name
								h3 Mahmood Choudhury
							.user-profile
								h3 Entrepreneur
							.user-other-dtl-list
								ul
									li
										.t-cell.icon-label
											span.icon
												i.icon-user
										.t-cell
											span 22 Years Old
									li
										.t-cell.icon-label
											span.icon
												i.icon-marker
										.t-cell
											span London, United Kingdom
									li
										.t-cell.icon-label
											span.icon
												i.icon-phone
										.t-cell
											span +999-123-4567	
									li
										.t-cell.icon-label
											span.icon
												i.icon-cap
										.t-cell
											span Postgraduate
									li
										.t-cell.icon-label
											span.icon
												i.icon-web
										.t-cell
											span www.myliferoute.com
							.edit-icon
								a(href="#")
									i.icon-edit
							.close-icon.visible-xs(data-ng-click="closemenu()")
								i.icon-close-o
						.margin-top-2x.margin-bottom-2x
							button.button.button-green.button-rounded.button-font-base.button-height-large.button-font-medium.button-font-medium-txt.button-block(ng-controller="ModalCtrl"  ng-click="workhistory()") View Work History
								span.button-btn-icon
									i.icon-arrow-right 


						.user-dtl-box
							
							.user-work-dtl-list
								ul
									li
										.t-cell.label-name
											span.icon
												i.icon-route  
											span Liferoutes :
										.t-cell.text-right
											span 22
									li
										.t-cell.label-name
											span.icon
												i.icon-news  
											span News posted :
										.t-cell.text-right
											span 12
									li
										.t-cell.label-name
											span.icon
												i.icon-connection  
											span Connections :
										.t-cell.text-right
											span 22
									li
										.t-cell.label-name
											span.icon
												i.icon-follow  
											span Followers :
										.t-cell.text-right
											span 12
			.my-setting-cotainer
				.heading-block
					.breadcrumb-list
						ul
							li
								span Settings
							li
								span.active Change Password
				.my-setting-form
					.my-setting-form__container
						h3.form-title Change Password 
						.field-group
							.c-field.c-lh.c-shadow.c-b-sm
									label Current Password
									input(type="text", placeholder="Enter Current Password").c-field-control
							.c-field.c-lh.c-shadow.c-b-sm
									label New Password
									input(type="text", placeholder="Enter New Password").c-field-control
							.c-field.c-lh.c-shadow.c-b-sm
									label Confirm Password
									input(type="text", placeholder="Enter New Password").c-field-control
							.btn-field.text-right
								button.button.button-font-medium.button-uppercase.button-font-medium-txt.button-height-extra-large.button-rounded.button-min-width-small.margin-left-1x.margin-right-1x.margin-bottom-2x(ng-controller="ModalCtrl"  ng-click="changepassword()") SAVE
								button.button.button-danger.button-font-medium.button-uppercase.button-font-medium-txt.button-height-extra-large.button-rounded.button-min-width-small.margin-left-1x.margin-right-1x.margin-bottom-2x CANCEL