h3.title  ADVERTISING
.__inner-content
	.row
		.col-md-6
			h4 Understanding MyLifeRoute
			ul
				li What is MyLifeRoute?
				li What are the steps to sign Up?
			.margin-top-8x
				h4 Requirements
				ul
					li What is MyLifeRoute?
					li What are the steps to sign Up?
		.col-md-6
			h4 Creating an Account
			p Lorem ipsum dolor sit amet,. Ut en Lorem ipsum dolor sit amet,. Ut en Lorem ipsum dolor sit amet,. Ut en Lorem ipsum dolor sit amet,. Ut en Lorem ipsum dolor sit amet,. Ut en Lorem ipsum dolor sit amet,. Ut enLorem ipsum dolor sit amet,. Ut enLoremLorem ipsum dolor sit amet,. Ut enLorem ipsum dolor sit amet,. Ut enLorem ipsum dolor sit amet,. Ut enLorem ipsum dolor sit amet,. Ut enLorem ipsum dolor sit amet,. Ut enLorem Lorem ipsum dolor sit amet,. Ut en