h3.title  Contact Us
.__inner-content
	.contact-form

			h3 We are happy to answer any questions or queries you may have. 
				br
				|Just fill in your details below and we will get back to you.
			.field-group
				.c-field.c-shadow.c-b-xsm.c-bg-color
						label SUBJECT
						input(type="text").c-field-control
				.c-field.c-shadow.c-b-xsm.c-bg-color
						label YOUR MESSAGE
						textarea(rows="6" cols="6").c-field-control
				.c-field.c-b-xsm
					img(src="images/captcha.jpg" alt="img" class="img-responsive")
				.c-field.c-shadow.c-b-xsm.c-bg-color
						label CAPTCHA CODE
						input(type="text").c-field-control
				.c-field.c-b-xsm
					button.button.button-rounded.button-font-medium.button-font-medium-txt.button-width-large.button-height-large Send