
<div class="dashboard-route-dtl-section">
  <div class="stats-dtl-box">
    <div class="head-block">
      <h3 class="title">Lorem Ipsum is simp text ennie </h3>
    </div>
    <div class="stat-dtl-list">
      <ul>
        <li><span class="t-no">688</span><span>Total Likes</span></li>
        <li><span class="t-no">588</span><span>Total Comments</span></li>
        <li><span class="t-no">188</span><span>Total Followers</span></li>
        <li><span class="t-no">188</span><span>Total Share</span></li>
        <li><span class="t-no">8</span><span>Total Video Links</span></li>
        <li><span class="t-no">8</span><span>Total Images</span></li>
      </ul>
    </div>
  </div>
  <div class="stats-oth-info">
    <div class="stats-oth-info__block">
      <h3>2</h3>
      <h5>Total Steps</h5>
    </div>
    <div class="stats-oth-info__block">
      <h3>£70,000</h3>
      <h5>Total Cost</h5>
    </div>
  </div>
</div>