
<div class="dashboard-news-stats-dtl-section">
  <div class="stats-dtl-box">
    <div class="head-block">
      <h3 class="title">Lorem Ipsum is simp text ennie </h3>
    </div>
    <div class="stat-dtl-list">
      <ul>
        <li><span class="t-no">688</span><span>Total Likes</span></li>
        <li><span class="t-no">588</span><span>Total Comments</span></li>
        <li><span class="t-no">188</span><span>Total Share</span></li>
        <li><span class="t-no">8</span><span>Total Video Links</span></li>
        <li><span class="t-no">8</span><span>Total Images</span></li>
      </ul>
    </div>
  </div>
</div>