
<div class="dashboard-t-info">
  <div class="row row-10">
    <div class="col-lg-4 col-md-6">
      <div class="dashboard-t-box c-1">
        <h3>2000</h3>
        <h4>Total Users<span class="ico"><i class="icon-user"></i></span></h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="dashboard-t-box c-2">
        <h3>2000</h3>
        <h4>Total Life Routes<span class="ico"><i class="icon-routes"></i></span></h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="dashboard-t-box c-3">
        <h3>2000</h3>
        <h4>Total News<span class="ico"><i class="icon-mike"></i></span></h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="dashboard-t-box c-4">
        <h3>2000</h3>
        <h4>Total Business Profiles<span class="ico"><i class="icon-b-user"></i></span></h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="dashboard-t-box c-5">
        <h3>2000</h3>
        <h4>Total Events<span class="ico"><i class="icon-calender"></i></span></h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="dashboard-t-box c-6">
        <h3>2000</h3>
        <h4>Total Adverts<span class="ico"><i class="icon-speaker"></i></span></h4>
      </div>
    </div>
  </div>
</div>