
<div class="dashboard-report-section">
  <div class="header-block"><a class="back-btn" href="#"><span class="ico"><i class="icon-arrow-left"></i></span>Back </a></div>
  <div class="dashboard-report-dtl">
    <div class="dashboard-report-content-row">
      <h3>Entity</h3>
      <p>Comments</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Reported On</h3>
      <p>28 June 2017, 11:32am</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Comment Details</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st been dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng tooks Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st been dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng been Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st took dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng been Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's st took dard dummy text ever since the 1500s,when an unknown printer took a galley tially unchanged typesetting prinitng been</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Comment On</h3>
      <p>How to become a Consultant LifeRoute</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Reason For Report</h3>
      <p>Abusive comment on</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Report By</h3>
      <p>William Cook</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Reporter Email Address</h3>
      <p>William_Cook@gmail.com</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Entity Author</h3>
      <p>James Cook</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Entity Author Email Address</h3>
      <p>James_Cook1256@gmail.com</p>
    </div>
    <div class="dashboard-report-content-row">
      <h3>Issues Location</h3>
      <p>Post</p>
    </div>
  </div>
</div>