
<div class="dashboard-business-section">
  <div class="dashboard-business-dtl">
    <div class="my-pages-row">
      <h3>Local Business or Place</h3>
      <div class="__inner-row">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="my-pages-box">
              <div class="__inner-box"><a data-ui-sref="dashboard-business-posts-dtl">
                  <figure><img class="img-circle" src="images/property.jpg" alt="img"/></figure>
                  <figcaption>
                    <h4>Merchant Store Place</h4>
                  </figcaption></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>