
<div class="dashboard-change-section">
  <div class="header-block"><a class="back-btn" data-ui-sref="dashboard-home"><span class="ico"><i class="icon-arrow-left"></i></span>Back</a></div>
  <div class="row">
    <div class="col-md-4">
      <div class="field-group">
        <div class="c-field">
          <label>Current Password</label>
          <input class="c-field-control" type="text" placeholder="Enter Current Password"/>
        </div>
        <div class="c-field">
          <label>New Password</label>
          <input class="c-field-control" type="text" placeholder="Enter New Password"/>
        </div>
        <div class="c-field">
          <label>Confirm Password</label>
          <input class="c-field-control" type="text" placeholder="Enter New Password"/>
        </div>
        <div class="btn-field padding-top-4x">
          <button class="button button-rounded button-uppercase button-width-large button-font-sbold margin-right-2x"> Save</button>
          <button class="button button-danger button-rounded button-uppercase button-width-large button-font-sbold"> CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>