
<div class="dashboard-form-container">
  <div class="dashboard-form__box">
    <div class="logo"><img class="img-responsive" src="images/logo.jpg" alt="img"/></div>
    <div class="forgot-form">
      <div class="forgot-form__heading-block">
        <h3>Forgot Your Password ?</h3>
        <p>In order to receive your access code - please enter the email address you provided during  the registration process.</p>
      </div>
      <div class="field-group">
        <div class="c-field c-b-sm c-bg-color">
          <input class="c-field-control" type="text" placeholder="Enter Email/Username"/>
        </div>
        <div class="btn-field">
          <button class="button button-uppercase button-block button-font-medium button-height-large button-font-medium-txt button-rounded margin-bottom-3x" ng-click="$state.go('email-confirm')">SUBMIT</button>
          <button class="button button-uppercase button-danger button-block button-font-medium button-height-large button-font-medium-txt button-rounded" ng-click="$state.go('login')">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>