
<div class="dashboard-form-container">
  <div class="dashboard-form__box">
    <div class="logo"><img class="img-responsive" src="images/logo.jpg" alt="img"/></div>
    <div class="login-form">
      <div class="login-form__heading-block">
        <h3>Sign In</h3>
        <h4>Enter your details below</h4>
      </div>
      <div class="field-group">
        <div class="c-field c-b-sm c-bg-color">
          <input class="c-field-control" type="text" placeholder="Enter Email/Username"/>
        </div>
        <div class="c-field c-b-sm c-bg-color">
          <input class="c-field-control" type="text" placeholder="Enter Password"/>
        </div>
        <div class="btn-field">
          <button class="button button-block button-font-medium button-height-large button-font-medium-txt button-rounded" ng-click="$state.go('dashboard-home')">LOGIN</button>
        </div>
        <div class="margin-top-4x text-center"><a class="forgot-link" data-ui-sref="forgot">Forgot Password?</a></div>
      </div>
    </div>
  </div>
</div>