
<div class="video-modal-section">
  <div class="modal-header">
    <h2 class="title">Video Links</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="video-links-list" ng-nicescroll="ng-nicescroll" nice-option="{cursorcolor: '#2abeeb',cursorwidth:'6px',background:'#c4c4c4',cursorborder:'1px solid #c4c4c4',cursorborderradius:'5px',cursorfixedheight:70,touchbehavior:true,railoffset:{left:30},autohidemode:false}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
      <div class="video-links-data-row">
        <h3>Step1 : <span>Associate to Consultant</span></h3>
        <ul>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
        </ul>
      </div>
      <div class="video-links-data-row">
        <h3>Step2 : <span>Associate to Consultant</span></h3>
        <ul>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
        </ul>
      </div>
      <div class="video-links-data-row">
        <h3>Step3 : <span>Associate to Consultant</span></h3>
        <ul>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
        </ul>
      </div>
      <div class="video-links-data-row">
        <h3>Step4 : <span>Associate to Consultant</span></h3>
        <ul>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
        </ul>
      </div>
      <div class="video-links-data-row">
        <h3>Step5 : <span>Associate to Consultant</span></h3>
        <ul>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
        </ul>
      </div>
      <div class="video-links-data-row">
        <h3>Step6 : <span>Associate to Consultant</span></h3>
        <ul>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
          <li><a href="http://www.video.com/link/12/awesome_video/erf345" target="_blank">http://www.video.com/link/12/awesome_video/erf345</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-field">
      <button class="button button-shadow button-width-large button-green button-height-large button-font-bold button-rounded button-font-medium margin-right-1x">Accept</button>
      <button class="button button-shadow button-width-large button-danger button-height-large button-font-bold button-rounded button-font-medium margin-left-1x">Reject</button>
    </div>
  </div>
</div>