
<div class="work-history-modal">
  <div class="modal-header">
    <h2 class="title text-center">Work History</h2>
    <button class="close-ico" id="forgot-close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="work-history-list" ng-nicescroll="ng-nicescroll" nice-option="{cursorcolor: '#2abeeb',cursorwidth:'6px',background:'transparent',cursorborder:'1px solid #2abeeb',cursorborderradius:'0px',cursorfixedheight:50}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
      <table class="work-table">
        <thead>
          <tr>
            <th>Job Title / Position</th>
            <th>Experience</th>
            <th>From</th>
            <th>Company</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-column="Job Title / Position">Software Developer</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
          <tr>
            <td data-column="Job Title / Position">Team Leader</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
          <tr>
            <td data-column="Job Title / Position">Team Leader</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
          <tr>
            <td data-column="Job Title / Position">CEO</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
          <tr>
            <td data-column="Job Title / Position">CEO</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
          <tr>
            <td data-column="Job Title / Position">CEO</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
          <tr>
            <td data-column="Job Title / Position">CEO</td>
            <td data-column="Experience">2 Years 6 Month</td>
            <td data-column="From">1993 - 2001</td>
            <td data-column="Company">Igniva</td>
            <td data-column="Location">London</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>