
<div class="add-review-modal">
  <div class="modal-header text-center">
    <h2 class="title"> Add Review</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="add-review-form">
      <ul>
        <li><span class="__label">Case 1</span>
          <div class="rating-container"><span class="t-rating" uib-rating="uib-rating" ng-model="name1" state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-1"></span></div>
        </li>
        <li><span class="__label">Case 2</span>
          <div class="rating-container"><span class="t-rating" uib-rating="uib-rating" ng-model="name2" state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-2"></span></div>
        </li>
        <li><span class="__label">Case 3</span>
          <div class="rating-container"><span class="t-rating" uib-rating="uib-rating" ng-model="name3" state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-3"></span></div>
        </li>
        <li><span class="__label">Case 4</span>
          <div class="rating-container"><span class="t-rating" uib-rating="uib-rating" ng-model="name4" state-on="'icon-star star-checked'" state-off="'icon-star star-uncheck'" aria-labelledby="rating-4"></span></div>
        </li>
      </ul>
      <div class="margin-top-8x text-center">
        <button class="button button-width-large button-rounded button-height-large button-font-sbold button-font-medium">Post</button>
      </div>
    </div>
  </div>
</div>