
<div class="confirm-modal">
  <div class="modal-header">
    <h2 class="title">Awaiting Approval</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="adv-confirm-msg">
      <p>Thanks for submitting your Advert Post which has been received successfully. This is now currently being reviewed to check that it meets our acceptability guidelines and criteria.</p>
      <div class="margin-top-5x">
        <p>Once approved - you will receive an email within the next few hours - confirming that your Advert is now  Live on MyLifeRoute.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-center"><a class="text-theme btn-link" href="#">OK</a></div>
  </div>
</div>