
<div class="confirm-modal">
  <div class="modal-header">
    <h2 class="title">Email Confirmation - Link Sent</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="confirm-msg">
      <h3>Please check your Inbox to confirm and activate your Account.</h3>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-center"><a class="text-theme btn-link" href="#">OK</a></div>
  </div>
</div>