
<div class="fogot-modal">
  <div class="modal-header">
    <h2 class="title">Forgot Your Password ?</h2>
    <button class="close-ico" id="forgot-close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="forgot-form">
      <h3>To reset your password – please enter your email address you provided during the registration process.</h3>
      <div class="field-group">
        <div class="c-field c-bg-color c-md">
          <input class="c-field-control" type="text" placeholder="Enter Email Address"/>
        </div>
        <div class="btn-field text-center">
          <button class="button button-font-sbold button-uppercase button-width-large button-height-large button-rounded margin-left-1x margin-right-1x margin-bottom-2x" ng-controller="ModalCtrl" ng-click="msg()">SUBMIT</button>
          <button class="button button-red button-font-sbold button-uppercase button-width-large button-height-large button-rounded margin-left-1x margin-right-1x">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>