
<div class="i-peoplelist-modal">
  <div class="modal-header">
    <h2 class="title text-center">66 Interested People</h2>
    <button class="close-ico" id="forgot-close" ng-click="cancel()"><i class="icon-close-o"></i></button>
  </div>
  <div class="modal-body">
    <div class="p-list" ng-nicescroll="ng-nicescroll" nice-option="{cursorcolor: '#e87119',cursorwidth:'6px',background:'#dedede',cursorborder:'1px solid #e87119',cursorborderradius:'5px',touchbehavior:true}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
      <div class="media">
        <div class="media-left">
          <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
        </div>
        <div class="media-body">
          <div class="usr-name">
            <h4>Albert Smith</h4>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
        </div>
        <div class="media-body">
          <div class="usr-name">
            <h4>Albert Smith</h4>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
        </div>
        <div class="media-body">
          <div class="usr-name">
            <h4>Albert Smith</h4>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
        </div>
        <div class="media-body">
          <div class="usr-name">
            <h4>Albert Smith</h4>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
        </div>
        <div class="media-body">
          <div class="usr-name">
            <h4>Albert Smith</h4>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="usr-pic"><img src="images/user.jpg" alt="img"/></div>
        </div>
        <div class="media-body">
          <div class="usr-name">
            <h4>Albert Smith</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>