
<div class="report-modal">
  <div class="modal-header">
    <h2 class="title">Report This User</h2>
    <button class="close-ico" id="close" ng-click="cancel()"><i class="icon-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="report-form">
      <div class="c-field c-bg-color c-b-sm c-md">
        <textarea class="c-field-control" placeholder="Please provide as much information as possible with regards to the reason(s) why you have decided to report this User. Admin will have a look into this and see what measures can be taken." rows="5" cols="5"></textarea>
      </div>
    </div>
    <div class="margin-top-8x text-center">
      <button class="button button-green button-width-large button-rounded button-height-large margin-right-3x"><i class="icon-check-bold"></i></button>
      <button class="button button-danger button-width-large button-rounded button-height-large margin-left-3x"><i class="icon-close-bold"></i></button>
    </div>
  </div>
</div>