
<div class="reset-password-modal">
  <div class="modal-body">
    <div class="reset-password-form">
      <h3 class="title">Reset Password</h3>
      <div class="field-group">
        <div class="c-field c-shadow c-b-sm">
          <label>New Password</label>
          <input class="c-field-control" type="text" placeholder="Enter New Password"/>
        </div>
        <div class="c-field c-shadow c-b-sm">
          <label>Confirm Password</label>
          <input class="c-field-control" type="text" placeholder="Enter New Password"/>
        </div>
        <div class="btn-field">
          <button class="button button-rounded button-uppercase button-font-medium-txt button-rounded margin-bottom-1x margin-right-1x button-width-large button-height-large button-font-medium">SAVE</button>
          <button class="button button-danger button-uppercase button-rounded button-font-medium-txt button-rounded margin-bottom-1x button-width-large button-height-large button-font-medium">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>