<div class="main-header"  set-class-when-at-top="fix-to-top">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        <div id="nav-icon1" class="visible-xs" ng-controller="MenuCtrl" >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="nav_bar">
          <ul>
            <li><a ui-sref="listing" title="" navc>Listing</a></li>
            <li><a href="#" title="" navc>Our Guarantee</a></li>
            <li><a href="#" title="" navc>about us</a></li>
            <li><a href="#" title="" navc>help</a></li>
            <li><a href="javascript:void(0);" title="" class="nav_bar__callbtn" ng-click="isrCollapsed = !isrCollapsed" navc>Request Callback</a>
            <div class="r-popup-container" uib-collapse="!isrCollapsed">
              <div class="r-popup">
                <button class="close-ico visible-xs" type="button" ng-click="isrCollapsed =false"><i class="icon-cancel"></i></button>
                <form class="form-horizontal">
                  <div class="r-form">
                    
                    <div class="r-error col-sm-offset-3"><div class="msg-error">Your name required</div></div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <div class="r-field">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                        <div class="r-field">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Number</label>
                      <div class="col-sm-10">
                        <div class="r-field">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="r-btn-section">
                    <button class="r_btn">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li><a href="#" title="" class="nav_bar__listbtn">ADD A lISTING</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--banner-section-->
<div class="about-banner">
<img src="images/about-banner.jpg" alt="img" class="img-responsive" />
</div>
<!--end-banner-->
<!--main-contanier-->
<div class="main-block">
<div class="about-us-section">
<!--about-content-->
<div class="about-content-section text-center wow fadeIn">
  <div class="container">
    <div class="lb_title">
      <h2>About us</h2>
    </div>
    <div class="inner-content margin-top-8x">
      <p class="o-s-bold">We are most exciting dummy text real estate  are most exciting dummy text real estate officials</p>
      <div class="margin-top-6x">
        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
        qui dolorem ipsum quia dolor.t amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  ssd dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam </p>
      </div>
      <div class="margin-top-5x">
        <p>Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea vo</p>
      </div>
    </div>
  </div>
</div>
<!--team-section-->
<div class="team-section">
  <div class="team_title">
    <div class="lb_title">
      <h2>Team</h2>
    </div>
  </div>
  <div class="team__list">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
          <div class="t__box wow fadeInUp">
          <figure><img src="images/team.jpg" class="img-responsive" alt="img"/></figure>
          <figcaption>
          <h3>Natalie Naples</h3>
          <p class="o-s-bold text-theme">Natalie Naples</p>
          <div class="m-dtl">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisl enim, eget dignissim felis posuere in. Ut suscipit et mi facilisis posuere. Nulla iaculis placerat dui in rutrum. Nulla…</p>
          </div>
          </figcaption>
          <div class="s-links">
            <a href="#" target="_blank"><i class="icon-linked-in-sm"></i></a>
            <a href="#" target="_blank"><i class="icon-facebook-sm"></i></a>
            <a href="#" target="_blank"><i class="icon-twitter-sm"></i></a>
            <a href="#" target="_blank"><i class="icon-google-plus-sm"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        
        <div class="t__box wow fadeInUp">
        <figure><img src="images/team.jpg" class="img-responsive" alt="img"/></figure>
        <figcaption>
        <h3>Natalie Naples</h3>
        <p class="o-s-bold text-theme">Natalie Naples</p>
        <div class="m-dtl">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisl enim, eget dignissim felis posuere in. Ut suscipit et mi facilisis posuere. Nulla iaculis placerat dui in rutrum. Nulla…</p>
        </div>
        </figcaption>
        <div class="s-links">
          <a href="#" target="_blank"><i class="icon-linked-in-sm"></i></a>
          <a href="#" target="_blank"><i class="icon-facebook-sm"></i></a>
          <a href="#" target="_blank"><i class="icon-twitter-sm"></i></a>
          <a href="#" target="_blank"><i class="icon-google-plus-sm"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      
      <div class="t__box wow fadeInUp">
      <figure><img src="images/team.jpg" class="img-responsive" alt="img"/></figure>
      <figcaption>
      <h3>Natalie Naples</h3>
      <p class="o-s-bold text-theme">Natalie Naples</p>
      <div class="m-dtl">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisl enim, eget dignissim felis posuere in. Ut suscipit et mi facilisis posuere. Nulla iaculis placerat dui in rutrum. Nulla…</p>
      </div>
      </figcaption>
      <div class="s-links">
        <a href="#" target="_blank"><i class="icon-linked-in-sm"></i></a>
        <a href="#" target="_blank"><i class="icon-facebook-sm"></i></a>
        <a href="#" target="_blank"><i class="icon-twitter-sm"></i></a>
        <a href="#" target="_blank"><i class="icon-google-plus-sm"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--investor-section-->
<div class="investor-section wow fadeIn" >
<div class="container">
<div class="investor_title">
<span class="inv-prev" ><i class="icon-slide-arrow-left"></i></span>
<div class="lb_title">
  <h2>Investors</h2>
</div>
<span class="inv-next" ><i class="icon-slide-arrow-right"></i></span>
</div>
<div class="inv_slider"  ng-init="names=[{image:'images/user.jpg'},{image:'images/user.jpg'},{image:'images/user.jpg'},{image:'images/user.jpg'},{image:'images/user.jpg'},{image:'images/user.jpg'}]">
<div class="container">
  <data-owl-carousel class="owl-carousel owl-theme" data-options="{nav: false,margin:10, responsive: {
  0: {
  items: 1
  },
  600: {
  items: 3
  },
  1000: {
  items: 4
  }
  }}">
  <div owl-carousel-item="" ng-repeat="Objects in names" class="item">
    <div class="inv_slider_box">
      
      <figure><img src="{{Objects.image}}" alt="img"/>
        <span>Lisa smith
          <span class="text-theme"> UK</span>
        </span>
      </figure>
      <figcaption>
      <p><span><i class="icon-quotes"></i></span>mnis iste natus error sit voluntitotam rem aperiam, eaque ipsa quae ab illo .</p>
      </figcaption>
    </div>
  </div>
  
  </data-owl-carousel>
</div>
</div>
</div>
</div>
<!--our-partners-->
<div class="our-partner-section wow fadeIn">
<div class="p_title">
<div class="lb_title">
<h2>Our Partners</h2>
</div>
</div>
<div class="inner-cotent">
<div class="container">
<div class="row">
  <div class="col-md-3"><img src="images/igniva-logo.jpg" alt="jpg"/></div>
  <div class="col-md-9">
    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
    <br/>
    <p>qui dolorem ipsum quia dolor.t amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  ssd dolore magnam aliquam quaerat voluptatem. Ut enim ad.... <a href="#" class="text-black o-s-bold">more</a></p>
    <hr/>
    <div class="text-right">
      <div class="s-links">
        <a href="#" target="_blank"><i class="icon-linked-in-sm"></i></a>
        <a href="#" target="_blank"><i class="icon-facebook-sm"></i></a>
        <a href="#" target="_blank"><i class="icon-twitter-sm"></i></a>
        <a href="#" target="_blank"><i class="icon-google-plus-sm"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--end-main-container-->