      <div class="main-header">
        <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
          
          </div>
          <div class="col-md-9">
            <div class="nav_button">
              <ul>
                <li><a href="#" ui-sref="agentlisting" title="" class="nav_button__a">Request Callback</a></li>
                <li><a href="#" title="" class="nav_button__b">Need help ?</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

<!--banner-section-->
<div class="banner is--agent">
  <div class="banner__caption">
    <h1 class="main-title grey_bg wow fadeInDown">Host Real time Auctions online at anytime</h1>
    <h2 clwow fadeInDown>Eliminate the hard buyer document validation chaos and no more printed catalogues</h2>
    <a href="#join" du-smooth-scroll class=" wow fadeInDown button-white    button-font-large  button-rounded ">Request Access <i class="icon-flyer"></i></a> </div>
  </div>
  <!--end-banner-->
  <!--page-heading-block-->
  <div class="page_heading wow fadeInUp">
    <div class="container">
      <div class="page_heading__title">
        <div class="page_heading__main"> <h2>How does EstateHut Pro work?</h2></div>
        <h3>Eliminate the hard buyer document validation chaos</h3>
      </div>
      
    </div>
  </div>
  <!--end-page-heading-block-->
  <!--main-contanier-->
  <div class="main-block">
    <!--agent-dashboard-->
    <div class="agent-dahboard">
      <div class="manage-pannel">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 wow zoomIn">
              <div class="manage-pannel__box">
                <div class="manage-pannel__box">
                  <div class="pannel-content">
                    <div class="box-icon"><img src="images/files.svg" alt="img"/></div>
                    <h3>Manage your lots</h3>
                    <div class="pannel__txt">
                      <p>Gain deep insights on your lots performance</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow zoomIn">
              
              <div class="manage-pannel__box">
                <div class="pannel-content">
                  <div class="box-icon"><img src="images/request.svg" alt="img"/></div>
                  <h3>Manage requests </h3>
                  <div class="pannel__txt">
                    <p>Potential buyers can submit and track the status of requests and receive automatic notifications</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow zoomIn">
              
              <div class="manage-pannel__box">
                <div class="pannel-content">
                  <div class="box-icon"><img src="images/paperless.svg" alt="img"/></div>
                  <h3>Paperless bidding</h3>
                  <div class="pannel__txt">
                    <p>No more hard tbuyer document validation, no more printed catalogues</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow zoomIn">
              
              <div class="manage-pannel__box">
                <div class="pannel-content">
                  <div class="box-icon"><img src="images/boradcast.svg" alt="img"/></div>
                  <h3>Broadcast</h3>
                  <div class="pannel__txt">
                    <p>Broadcast announcements via email and group forums</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-content">
        <h2 class="main-heading text-center">You and your dashboard!</h2>
        <div class="container-fluid">
          <div class="content-row">
            
            <div class="row">
              <div class="col-md-5 col-md-offset-1 col-lgxs-3 col-lgxs-offset-1 wow fadeInLeft">
                <div class="content-txt">
                  <h3>Easily share and<br/>
                  access documents securely</h3>
                  <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
                  qui dolorem ipsum quia dolor.</p>
                  <p> sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  ssd dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea vo</p>
                  <div class="content-options">
                    <span class="icon-save"></span>
                    <span class="icon-cloud-computing"></span>
                    <span class="icon-login"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lgxs-7 col-lgxs-offset-1 wow fadeInRight">
                <div class="row">
                  <img src="images/document-1.jpg" alt="img" class="img-responsive pull-right"/>
                </div>
              </div>
            </div>
            
          </div>
          <div class="content-row">
            
            <div class="row">
              <div class="col-md-6  col-lgxs-6 wow fadeInLeft">
                <div class="row">
                  <img src="images/document-2.jpg" alt="img" class="img-responsive"/>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1 col-lgxs-3 col-lgxs-offset-1 wow fadeInRight">
                <div class="content-txt">
                  <h3>Communicate in one place, drop the lengthy email threads, out of date spread sheets and clunky software...</h3>
                  <p>Perspiciatis unde omnis iste natus error sit voluptatem accusansciunt. Neque porro quisquam est.
                  qui dolorem ipsaboriosa</p>
                  <p>uid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea vo</p>
                  <div class="content-options">
                    <span class="icon-alarm"></span>
                    <span class="icon-file-search"></span>
                    <span class="icon-note"></span>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          <div class="content-row">
            
            <div class="row">
              <div class="col-md-5 col-md-offset-1 col-lgxs-3 col-lgxs-offset-1 wow fadeInLeft">
                <div class="content-txt">
                  <h3>Access an on-demand database of pre-credentialed/vetted buyers</h3>
                  <p>Perspiciatis unde omnis iste natus error sit voluptatem accusansciunt. Neque porro quisquam est.
                  qui dolorem ipsaboriosa</p>
                  <p>uid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea vo</p>
                  <div class="content-options">
                    
                    <ul>
                      <li><i class="icon-check-o"></i>Easily Broadcast Announcements</li>
                      <li><i class="icon-check-o"></i>Easily Broadcast Announcements</li>
                      <li><i class="icon-check-o"></i>Easily Broadcast Announcements</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lgxs-7 col-lgxs-offset-1 wow fadeRight">
                <div class="row">
                  <img src="images/document-3.jpg" alt="img" class="img-responsive  pull-right"/>
                </div>
              </div>
            </div>
            
          </div>
          <div class="content-row">
            
            <div class="row">
              <div class="col-md-6  col-lgxs-6 wow fadeInLeft">
                <div class="row">
                  <img src="images/document-4.jpg" alt="img" class="img-responsive"/>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1 col-lgxs-3 col-lgxs-offset-1 wow fadeInRight">
                <div class="content-txt">
                  <h3>Communicate in one place, drop the lengthy email threads, out of date spread sheets and clunky software...</h3>
                  <p>Perspiciatis unde omnis iste natus error sit voluptatem accusansciunt. Neque porro quisquam est.
                  qui dolorem ipsaboriosa</p>
                  <p>uid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea vo</p>
                  <div class="content-options">
                    <span class="icon-file"></span>
                    <span class="icon-pencil"></span>
                    <span class="icon-flyer"></span>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
      </div>
      <!--agent-registration-section-->
      <div class="q-reg-section" id="join">
        <div class="q-reg-title">
          <h3>Quick registration</h3>
        </div>
        <div class="container">
          <div class="q-reg-form">
            <h4 class="text-center">Its time to get in touch, use any text here !</h4>
            <div class="q-rg-fields">
              <div class="row">
                <div class="col-md-8">
                  
                  <div class="rg-name-field form-group">
                    <input type="text" name="" id="f-name" placeholder="First Name" class="form-control input-lg" />
                    <input type="text" name="" id="l-name" placeholder="Last Name" class="form-control input-lg"/>
                  </div>
                  <div class="form-group">
                    <input type="text" name="" placeholder="Email" class="form-control input-lg"/>
                  </div>
                  
                </div>
                <div class="col-md-4">
                  
                  <div class="form-group">
                    <input type="text" name="" placeholder="Company Name" class="form-control input-lg"/>
                  </div>
                  <div class="form-group">
                    <input type="text" name="" placeholder="Phone" class="form-control input-lg"/>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group margin-top-3x">
                    <div class="check-btn">
                      <div class="fh-checkbox">
                        <input type="checkbox" id="rem1">
                        <label for="rem1">I am an agent</label>
                      </div>
                    </div>
                    <div class="check-btn">
                      <div class="fh-checkbox">
                        <input type="checkbox" id="rem2">
                        <label for="rem2">I am an agency</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group margin-top-3x">
                    <span class="block"> By clicking "Submit" you agree to our Privacy Statement </span>
                    <button class="button button-uppercase button-width-large ">Submit
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end-resgistration-->
  </div>
  <!--end-dashboard-->
</div>
<!--end-main-container-->