<div class="main-header">
  <div class="container">
    <div class="header is-h-border">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        
      </div>
      <div class="col-md-9">
        <div class="nav_button">
          <ul>
            <li><a href="javascript:void(0);" ui-sref="agentlisting" title="" class="nav_button__a" ng-click="inCollapsed = !inCollapsed">Invite Buyers</a>
            <div class="r-popup-container" uib-collapse="!inCollapsed">
            <div class="r-popup">
            <button class="close-ico visible-xs" type="button" ng-click="inCollapsed =false"><i class="icon-cancel"></i></button>
              <form class="form-horizontal">
                <div class="r-form is--invite">
                  
                  <div class="r-error col-sm-offset-3"><div class="msg-error">Select Lot type</div></div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Lot type</label>
                    <div class="col-sm-7">
                      
                      <select class="form-control">
                        <option>Select options</option>
                      </select>
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                      
                      <input type="text" class="form-control">
                     
                    </div>
                    <div class="col-sm-2"> <span class="r__tool-tip icon-question-mark"></span></div>
                  </div>
                  
                  
                </div>
                <div class="r-btn-section">
                  <button class="r_btn">Invite</button>
                </div>
                <div class="r-bottom-bar">
                <span>Invite existing buyers &rarr;</span>
                </div>

              </form>
            </div>
            </div>
          </li>
          <li><a href="#" title="" class="nav_button__a">Listing</a></li>
          <li><a href="#" title="" class="nav_button__a">inbox</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--main-contanier-->
<div class="main-block">
<div class="agent-listing-block">
<!--not-listing-section-->
<div class="not-listed-section">
  <div class="not-listed">
    <img src="images/warn-icon.png" alt="img"/>
    <h1>You don’t have any listings yet</h1>
  </div>
  <div class="container">
    <h3>Hey Andy, you have not added any listings till now. dummy text, click bleow to add new listings</h3>
    <a class="button button-font-medium button-uppercase button-rounded button-max " href="#"> ADD A LISTING</a>
    <h3>Don’t worry, we will help you through</h3>
  </div>
</div>
<!--not-listing-section-->
</div>
</div>
<!--end-main-container-->