<div class="main-header">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        <div id="nav-icon1" class="visible-xs" ng-controller="MenuCtrl" > <span></span> <span></span> <span></span> </div>
      </div>
      <div class="col-md-9">
        <div class="nav_bar">
          <ul>
            <li><a href="#" title="">Listing</a></li>
            <li><a href="#" title="">Our Guarantee</a></li>
            <li><a href="#" title="">about us</a></li>
            <li><a href="#" title="">help</a></li>
            <li><a href="javascript:void(0);" title="" class="nav_bar__callbtn" ng-click="isrCollapsed = !isrCollapsed">Request Callback</a>
            <div class="r-popup-container" uib-collapse="!isrCollapsed">
            <div class="r-popup">
            <button class="close-ico visible-xs" type="button" ng-click="isrCollapsed =false"><i class="icon-cancel"></i></button>
              <form class="form-horizontal">
                <div class="r-form">
                  <div class="r-error col-sm-offset-3">
                    <div class="msg-error">Your name required</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="r-btn-section">
                  <button class="r_btn">Submit</button>
                </div>
              </form>
            </div>
            </div>
          </li>
          <li><a href="#" title="" class="nav_bar__callbtn">inbox</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--main-contanier-->
<div class="all-listing-section">
<div class="t-block">
<div class="container">
  <div class="row">
    <div class="col-md-12"> <span class="o-s-bold text-white margin-top-1x block">Properties 1 - 4 out of 200</span> </div>
    
  </div>
</div>
</div>
<div class="main-block">
<div class="container">
  <div class="search-view margin-top-6x">
    <div class="text-right">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <div class="pagnation-list ">
            <ul>
              <li class="prev"> <a href="#"><i class="icon-slide-arrow-left"></i> Previous</a></li>
              <li><span class="active">1</span></li>
              <li><span>2</span></li>
              <li><span>3</span></li>
              <li><span>4</span></li>
              <li><span>5</span></li>
              <li><span>6</span></li>
              <li  class="next"><a href="#"> Next <i class="icon-slide-arrow-right"></i></a></li>
            </ul>
          </div>
          
          <hr/>
        </div>
      </div>
    </div>
    <div class="all-list__view">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="search-list__filter wow fadeInLeft">
            <div class="filter__sidebox">
              <div class="filter__sidebox__title">
                <h5>Filter</h5>
                <a href="#">Clear all</a> </div>
                
                <div class="filter__catbox">
                  <div class="filter__catbox__option">
                    <h5>Listing Type</h5>
                    <ul>
                      <li>Traditional Bidding (8)</li>
                    </ul>
                  </div>
                  
                  
                  <div class="filter__catbox__option">
                    <h5>Status</h5>
                    <ul>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="live">
                            <label for="live">Live</label>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Not">
                            <label for="Not">Not Live</label>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Draft">
                            <label for="Draft">Draft</label>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="filter__catbox__option">
                    <h5>Status</h5>
                    <ul>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="not-sold">
                            <label for="not-sold">Not Sold</label>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Sold">
                            <label for="Sold">Sold</label>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Closed">
                            <label for="Closed">Closed</label>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Paused">
                            <label for="Paused">Paused</label>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="text-right">
                    <hr/>
                    <button class="button button-uppercase button-medium button-rounded">Apply filter</button>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="all-listing__view">
              <div class="row">
                <div class="col-md-6">
                  <div class="auction-list__box wow fadeInUp">
                  <figure><img src="images/ag-1.jpg" alt="pic" class="img-responsive"/></figure>
                  <div class="auction-list__caption">
                    <h3>Double story homes in countryside
                    location | <span class="text-theme">Brisbane</span></h3>
                    <small>Offered by Starteck agency at #76,<br/>
                    Calibarry, 888769..</small> <span class="c_bid">Current bid: $ 599000 <a href="#"  class="text-green">Open
                      <i class="icon-house"></i></a> </span> <span class="c_bd_cat">Traditional bid    |    20 hours left</span>
                      <div class="line_sperator"><span>View</span></div>
                      
                      <div class="row">
                        <div class="col-md-6"><button class="button button-small button-font-small button-block">Bid history</button>
                        </div>
                        <div class="col-md-6"><button class="button button-small button-font-small button-block">Request history</button> </div>
                      </div>
                    </div>
                    <div class="auction-list__options">
                      <div class="row">
                        <div class="col-md-6 col-sm-6">    <a href="#" class="ac__btn">Edit</a></div>
                        <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Pause</a></div>
                        <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Remove</a></div>
                        <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Sold</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="auction-list__box wow fadeInUp">
                  <figure><img src="images/ag-1.jpg" alt="pic" class="img-responsive"/></figure>
                  <div class="auction-list__caption">
                    <h3>Double story homes in countryside
                    location | <span class="text-theme">Brisbane</span></h3>
                    <small>Offered by Starteck agency at #76,<br/>
                    Calibarry, 888769..</small> <span class="c_bid">Current bid: $ 599000 <a href="#"  class="text-green">Open <i class="icon-house"></i></a> </span> <span class="c_bd_cat">Traditional bid    |    20 hours left</span>
                    <div class="line_sperator"><span>View</span></div>
                    
                    <div class="row">
                      <div class="col-md-6"><button class="button button-small button-font-small button-block">Bid history</button>
                      </div>
                      <div class="col-md-6"><button class="button button-small button-font-small button-block">Request history</button> </div>
                    </div>
                  </div>
                  <div class="auction-list__options">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">    <a href="#" class="ac__btn">Edit</a></div>
                      <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Pause</a></div>
                      <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Remove</a></div>
                      <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Sold</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="auction-list__box wow fadeInUp">
                <figure><img src="images/ag-1.jpg" alt="pic" class="img-responsive"/></figure>
                <div class="auction-list__caption">
                  <h3>Double story homes in countryside
                  location | <span class="text-theme">Brisbane</span></h3>
                  <small>Offered by Starteck agency at #76,<br/>
                  Calibarry, 888769..</small> <span class="c_bid">Current bid: $ 599000 <a href="#"  class="text-green">Open <i class="icon-house"></i></a> </span> <span class="c_bd_cat">Traditional bid    |    20 hours left</span>
                  <div class="line_sperator"><span>View</span></div>
                  
                  <div class="row">
                    <div class="col-md-6"><button class="button button-small button-font-small button-block">Bid history</button> </div>
                    <div class="col-md-6"><button class="button button-small button-font-small button-block">Request history</button>
                    </div>
                  </div>
                </div>
                <div class="auction-list__options">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">    <a href="#" class="ac__btn">Edit</a></div>
                    <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Pause</a></div>
                    <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Remove</a></div>
                    <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Sold</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="auction-list__box wow fadeInUp">
              <figure><img src="images/ag-1.jpg" alt="pic" class="img-responsive"/></figure>
              <div class="auction-list__caption">
                <h3>Double story homes in countryside
                location | <span class="text-theme">Brisbane</span></h3>
                <small>Offered by Starteck agency at #76,<br/>
                Calibarry, 888769..</small> <span class="c_bid">Current bid: $ 599000 <a href="#"  class="text-green">Open <i class="icon-house"></i></a> </span> <span class="c_bd_cat">Traditional bid    |    20 hours left</span>
                <div class="line_sperator"><span>View</span></div>
                
                <div class="row">
                  <div class="col-md-6"><button class="button button-small button-font-small button-block">Bid history</button> </div>
                  <div class="col-md-6"><button class="button button-small button-font-small button-block">Request history</button>
                  </div>
                </div>
              </div>
              <div class="auction-list__options">
                <div class="row">
                  <div class="col-md-6 col-sm-6">    <a href="#" class="ac__btn disabled">Edit</a></div>
                  <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn disabled">Pause</a></div>
                  <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn disabled">Remove</a></div>
                  <div class="col-md-6 col-sm-6">  <a href="#" class="ac__btn">Sold</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <hr/>
        <div class="pagnation-list ">
          <ul>
            <li class="prev"> <a href="#"><i class="icon-slide-arrow-left"></i> Previous</a></li>
            <li><span class="active">1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li><span>4</span></li>
            <li><span>5</span></li>
            <li><span>6</span></li>
            <li  class="next"><a href="#"> Next <i class="icon-slide-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--end-main-contanier-->