<div class="main-header">
  <div class="container">
    <div class="header is-h-border">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        <div id="nav-icon1" class="visible-xs" ng-controller="MenuCtrl" >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="nav_bar">
          <ul>
            <li><a href="#" title="">Listing</a></li>
            <li><a href="#" title="">Our Guarantee</a></li>
            <li><a href="#" title="">about us</a></li>
            <li><a href="#" title="">help</a></li>
            <li><a href="#" title="" class="nav_bar__callbtn">Request Callback</a></li>
            <li><a href="#" title="" class="nav_bar__callbtn">Inbox</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--main-contanier-->
<div class="main-block">
<div class="bid-hisoty-section">
  <div class="property-view">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
          <div class="property__slider is--cmod">
            <div class="property_main">
              <div class="property_info">
                <div class="property_title">
                  <h4>Spacious Apartment in London</h4>
                </div>
                
                <span class="l-address">6473 street, postal road, London</span>
                
              </div>
              <div class="zoom-image" zoom>
                
                <img id="myFancyCloudZoom" class="cloudzoom img-responsive" src = "images/property-view.jpg"  data-cloudzoom = "zoomImage: 'images/property-view-main.jpg',zoomWidth:500,zoomHeight:500, autoInside: 900"/>
                
                <div class="vslider" id="vslider" vslide>
                  <div class="thumbelina-but vert top"><span class="icon-slide-arrow-top"></span></div>
                  <ul>
                    
                    <li><img class ='cloudzoom-gallery' src = "images/p1.jpg" data-cloudzoom = "useZoom: '.cloudzoom', image: 'images/property-view.jpg', zoomImage: 'images/property-view-main.jpg' " ><span class="feature-arrow"></span></li>
                    <li><img class = 'cloudzoom-gallery' src = "images/p2.jpg" data-cloudzoom = "useZoom: '.cloudzoom', image: 'images/property-view2.jpg', zoomImage: 'images/property-view-main2.jpg' " ></li>
                    <li><img class = 'cloudzoom-gallery' src = "images/p3.jpg" data-cloudzoom = "useZoom: '.cloudzoom', image: 'images/property-view3.jpg', zoomImage: 'images/property-view-main2.jpg' " ></li>
                    <li><img class = 'cloudzoom-gallery' src = "images/p1.jpg" data-cloudzoom = "useZoom: '.cloudzoom', image: 'images/property-view.jpg', zoomImage: 'images/property-view-main.jpg' " ><span class="feature-arrow"></span></li>
                    <li><img class = 'cloudzoom-gallery' src = "images/p2.jpg" data-cloudzoom = "useZoom: '.cloudzoom', image: 'images/property-view2.jpg', zoomImage: 'images/property-view-main2.jpg' " ></li>
                    <li><img class = 'cloudzoom-gallery' src = "images/p3.jpg" data-cloudzoom = "useZoom: '.cloudzoom', image: 'images/property-view3.jpg', zoomImage: 'images/property-view-main2.jpg' " ></li>
                    
                    
                  </ul>
                  <div class="thumbelina-but  vert bottom"><span class="icon-slide-arrow-bottom"></span></div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          
          <div class="property-status">
            <div class="p__status__info">
              <span class="total-views"><i class="icon-eye"></i> View by 144</span>
              <span class="total-lot"><span class="text-theme">Lot:</span> 3625</span>
            </div>
            <div class="bid-status is--cmod">
              <div class="bid-txt">
                
                <div class="bid-histry-status">
                  <h3 class="r-m-size">Bid history</h3>
                  <div class="bid-histry__txt">
                    <ul>
                      <li>
                        <h5 class="text-theme">Time left</h5>
                        12 hrs, 30 min, 10 sec
                      </li>
                      <li>
                        <h5 class="text-theme">Duration</h5>
                        15 days
                      </li>
                      <li>
                        <h5 class="text-theme">Bidders</h5>
                        20
                      </li>
                      <li>
                        <h5 class="text-theme">Offers</h5>
                        34
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bid-histry-table">
    <div class="container">
      <h3 class="r-m-size">Bid history</h3>
      <div class="table-responsive margin-top-3x">
        <table class="table table-bordered bidlist__table">
          
          <thead>
            
            <tr>
              <th>Bidder </th>
              <th>Bid amount</th>
              <th>Bid time</th>
              <th>Make offer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name 1</td>
              <td>$7263</td>
              <td>31st Dec 2017 | 8:30 PM</td>
              <td>Offer</td>
            </tr>
            <tr>
              <td>Name 1</td>
              <td>$7263</td>
              <td>31st Dec 2017 | 8:30 PM</td>
              <td>Offer</td>
            </tr>
            <tr>
              <td>Name 1</td>
              <td>$7263</td>
              <td>31st Dec 2017 | 8:30 PM</td>
              <td>Offer</td>
            </tr>
            <tr>
              <td>Name 1</td>
              <td>$7263</td>
              <td>31st Dec 2017 | 8:30 PM</td>
              <td>Offer</td>
            </tr>
            <tr>
              <td>Name 1</td>
              <td>$7263</td>
              <td>31st Dec 2017 | 8:30 PM</td>
              <td>Offer</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>