<div class="main-header">
  <div class="container">
    <div class="header is-h-border">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        
      </div>
      <div class="col-md-9">
        <div class="nav_button">
          <ul>
            <li><a href="javascript:void(0);"  title="" class="nav_button__a" ng-click="inCollapsed = !inCollapsed">Invite Buyers</a>
            <div class="r-popup-container" uib-collapse="!inCollapsed">
              <div class="r-popup">
              <button class="close-ico visible-xs" type="button" ng-click="isrCollapsed =false"><i class="icon-cancel"></i></button>
                <form class="form-horizontal">
                  <div class="r-form is--invite">
                    
                    <div class="r-error col-sm-offset-3"><div class="msg-error">Select Lot type</div></div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Lot type</label>
                      <div class="col-sm-7">
                        
                        <select class="form-control">
                          <option>Select options</option>
                        </select>
                        
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-7">
                        
                        <input type="text" class="form-control">
                        
                      </div>
                      <div class="col-sm-2"> <span class="r__tool-tip icon-question-mark"></span></div>
                    </div>
                    
                    
                  </div>
                  <div class="r-btn-section">
                    <button class="r_btn">Invite</button>
                  </div>
                  <div class="r-bottom-bar">
                    <span>Invite existing buyers &rarr;</span>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li><a href="#" title="" class="nav_button__a">Listing</a></li>
          <li><a href="#" title="" class="nav_button__a">inbox</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--main-contanier-->
<div class="buyer-profile-section">
<div class="container">
<div class="text-right margin-top-2x wow fadeIn">Last Active: <span class="text-theme">2 hours ago</span></div>
<div class="main-block">
  
  <div class="buyer-profile wow zoomIn">
    <div class="row">
      <div class="col-md-3">
        
        <div class="buyer-img">
          <img src="images/user.jpg" alt="img"/>
          <h5>Scott Anderson</h5>
        </div>
      </div>
      <div class="col-md-9">
        
        <div class="buyer__dtl">
          <h5 class="text-theme o-s-bold">Profile details</h5>
          <div class="row margin-top-6x">
            <div class="col-md-6">
              
              <ul>
                <li><span class="o-s-bold">Current location:</span> London</li>
                <li><span class="o-s-bold">Buyer type:</span> Mortgage</li>
                <li><span class="o-s-bold">Identity:</span> Varified</li>
                <li><span class="o-s-bold">Willing to spend:</span> $8709897</li>
              </ul>
            </div>
            <div class="col-md-6">
              
              <ul>
                <li><span class="o-s-bold">Purchase type:</span> XXXXXX</li>
                <li><span class="o-s-bold">Looking to buy:</span> XXXXXX</li>
                <li><span class="o-s-bold">Location:</span> XXXXX</li>
                <li><span class="o-s-bold">Member since:</span> XXXXXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>