<div class="main-header">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        <div id="nav-icon1" class="visible-xs" ng-controller="MenuCtrl" >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="nav_bar">
          <ul>
            <li><a href="#" title="">What are you looking for?   </a></li>
            <li><a href="#" title="">aBOUT US</a></li>
            <li><a href="#" title="">about us</a></li>
            <li><a href="#" title="">hELP</a></li>
            <li><a href="javascript:void(0);" title="" class="nav_bar__listbtn" ng-click="isrCollapsed = !isrCollapsed">Request Callback</a>
            <div class="r-popup-container" uib-collapse="!isrCollapsed">
            <div class="r-popup">
            <button class="close-ico visible-xs" type="button" ng-click="isrCollapsed =false"><i class="icon-cancel"></i></button>
              <form class="form-horizontal">
                <div class="r-form">
                  
                  <div class="r-error col-sm-offset-3"><div class="msg-error">Your name required</div></div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="r-btn-section">
                  <button class="r_btn">Submit</button>
                </div>
              </form>
            </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--banner-section-->
<div class="landing-banner">
<div class="landing-banner__caption">
<h2 class="wow fadeInDown">Hand picked Apartments and <br/>
Flats <span>at bargain prices!!</span></h2>
<h3>Join our exclusive subscribers list for weekly updates, coming soon!</h3>
<div class="email-field-group">
  <div class="input-group"> <input placeholder="Enter your email" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn"><i class="icon-flyer"></i></button> </span> </div>
</div>
</div>
</div>
<!--end-banner-->
<!--main-contanier-->
<div class="main-page-cotent">
<!--our-gurantee-section-->
<div class="gurantee">
<div class="gurantee__heading wow fadeInUp">
  <div class="title-block">
    <h2 class="page-heading">Our Guarantee</h2>
  </div>
</div>
<div class="container">
  <div class="gurantee__list">
    <div class="row">
      <div class="col-md-3 col-sm-6 wow zoomIn">
        <div class="gurantee__box">
          <figure> <span class="ico"> <i class="icon-support"></i> </span> </figure>
          <figcaption>
          <h4>Priority 1-2-1 support </h4>
          <p><span class="o-bold">Short description</span> is natus error sit
          voluptatem accusantium dolorem
          quebo. Nemo enim  sit aspernatur
        aut odit aut fugit, sed qu</p>
        </figcaption>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 wow zoomIn">
      <div class="gurantee__box">
        <figure> <span class="ico"> <i class="icon-like"></i> </span> </figure>
        <figcaption>
        <h4>Exclusive deals
        Just for members</h4>
        <p><span class="o-bold">Short description</span> is natus error sit
        voluptatem accusantium dolorem
        quebo. Nemo enim  sit aspernatur
      aut odit aut fugit, sed qu</p>
      </figcaption>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 wow zoomIn">
    <div class="gurantee__box">
      <figure> <span class="ico"> <i class="icon-social-network"></i> </span> </figure>
      <figcaption>
      <h4>Hand-picked properties</h4>
      <p><span class="o-bold">Short description</span> is natus error sit
      voluptatem accusantium dolorem
      quebo. Nemo enim  sit aspernatur
    aut odit aut fugit, sed qu</p>
    </figcaption>
  </div>
</div>
<div class="col-md-3 col-sm-6 wow zoomIn">
  <div class="gurantee__box">
    <figure> <span class="ico"> <i class="icon-property"></i> </span> </figure>
    <figcaption>
    <h4>Fully inspected properties</h4>
    <p><span class="o-bold">Short description</span> is natus error sit
    voluptatem accusantium dolorem
    quebo. Nemo enim  sit aspernatur
  aut odit aut fugit, sed qu</p>
  </figcaption>
</div>
</div>
</div>
</div>
</div>
</div>
<!--end-gurantee-section-->
</div>
<!--end-main-container-->