<div class="main-header">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-3"><a ui-sref="home" class="logo"><img src="images/logo.png" alt="logo" class="img-reponsive"/></a>
        <div id="nav-icon1" class="visible-xs" ng-controller="MenuCtrl" > <span></span> <span></span> <span></span> </div>
      </div>
      <div class="col-md-9">
        <div class="nav_bar">
          <ul>
            <li><a href="#" title="">Listing</a></li>
            <li><a href="#" title="">Our Guarantee</a></li>
            <li><a href="#" title="">about us</a></li>
            <li><a href="#" title="">help</a></li>
            <li><a href="javascript:void(0);" title="" class="nav_bar__callbtn" ng-click="isrCollapsed = !isrCollapsed">Request Callback</a>
              <div class="r-popup-container" uib-collapse="!isrCollapsed">
            <div class="r-popup">
            <button class="close-ico visible-xs" type="button" ng-click="isrCollapsed =false"><i class="icon-cancel"></i></button>
              <form class="form-horizontal">
                <div class="r-form">
                  <div class="r-error col-sm-offset-3">
                    <div class="msg-error">Your name required</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                      <div class="r-field">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="r-btn-section">
                  <button class="r_btn">Submit</button>
                </div>
              </form>
            </div>
            </div>
          </li>
          <li><a href="#" title="" class="nav_bar__callbtn">inbox</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--main-contanier-->
<div class="search-listing-section">
<div class="t-block">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6"> <span class="o-s-bold text-white margin-top-1x block">Properties 1 - 25 out of 200</span> </div>
    <div class="col-md-6 col-sm-6">
      <select class="search__sorfield form-control">
        <option>Sort by price</option>
      </select>
    </div>
  </div>
</div>
</div>
<div class="main-block">
<div class="container">
  <div class="search-view margin-top-6x">
    <div class="search-view__top">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <div class="pagnation-list ib_v">
            <ul>
              <li class="prev"> <a href="#"><i class="icon-slide-arrow-left"></i> Previous</a></li>
              <li><span class="active">1</span></li>
              <li><span>2</span></li>
              <li><span>3</span></li>
              <li><span>4</span></li>
              <li><span>5</span></li>
              <li><span>6</span></li>
              <li  class="next"><a href="#"> Next <i class="icon-slide-arrow-right"></i></a></li>
            </ul>
          </div>
          <button class="button button-medium  button-rounded button-uppercase">Download Pdf</button>
          <hr/>
        </div>
      </div>
    </div>
    <div class="search-list__view">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="search-list__filter wow fadeInLeft">
            <div class="filter__sidebox">
              <div class="filter__sidebox__title">
                <h5>Filter</h5>
                <a href="#">Clear all</a> </div>
                <div class="filter__sidebox__form">
                  <div class="form-group">
                    <div class="c-field">
                      <select class="form-control">
                        <option selected="selected" value="Select Options">Traditional Listing</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="c-field">
                      <select class="form-control">
                        <option selected="selected" value="Select Options">Select Premises Type</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="c-field">
                      <select class="form-control">
                        <option selected="selected" value="Select Options">Property Type</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="c-field">
                      <select class="form-control">
                        <option selected="selected" value="Select Options">Location</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Price range</label>
                    <rzslider
                    rz-slider-model="0" rz-slider-high="2500"></rzslider>
                  </div>
                  <div class="text-right">
                    <button class="button button-uppercase button-medium button-rounded button-info">Apply filter</button>
                  </div>
                </div>
                <div class="filter__catbox">
                  <div class="filter__catbox__option">
                    <h5>Listing Type</h5>
                    <ul>
                      <li>Traditional Bidding (8)</li>
                    </ul>
                  </div>
                  <div class="filter__catbox__option">
                    <h5>Premises Type</h5>
                    <ul>
                      <li>Commercial (10)</li>
                      <li>Residental (10)</li>
                    </ul>
                  </div>
                  <div class="filter__catbox__option">
                    <h5>Property Type</h5>
                    <ul>
                      <li>House (10)</li>
                      <li>Flat (10)</li>
                      <li>Plot (22)</li>
                      <li>Utility Building (22)</li>
                      <li>Business Premises (10)</li>
                    </ul>
                  </div>
                  <div class="filter__catbox__option">
                    <h5>Status</h5>
                    <ul>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Not">
                            <label for="Not">Not Sold</label>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="sm-radio">
                          <div class="fh-radio">
                            <input type="radio" name="a" id="Sold">
                            <label for="Sold">Sold</label>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-9 col-sm-8">
            <div class="search-result-view">
              
              <div class="search-result__box wow fadeInUp">
                <div class="search-result__title">
                  <h4>Lot:  EH537</h4>
                </div>
                <div class="search-result__property">
                  <div class="row">
                    <div class="col-md-8 col-sm-12">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="property__img"> <img src="images/s1.jpg" alt="img" class="img-responsive" />
                            <div class="property__caption text-center"> Manor / palace </div>
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                          <div class="property__dtl">
                            <p> <span class="o-s-bold">Property name :</span> AnyName</p>
                            <p> Sunny Enclave, 356, Mohali area</p>
                            <div class="margin-top-5x">
                              <p><span class="o-s-bold">Listing type :</span> Traditional Bidding</p>
                              <p><span class="o-s-bold">Premises type :</span> Residential</p>
                              <p><span class="o-s-bold">Property Type:</span> House </p>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="property__infobox">
                        <div class="property__infobox__heading text-center"> Start in </div>
                        <div class="padding-3x text-center property__infobox__content"> <span class="time">22hrs 15min</span> <span class="date">MAY 17 <br/>
                      5:00 AM</span> </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-6">
                    <div class="property__price">
                      <div class="row">
                        <div class="col-md-12"><span class="price">$ 1999.00 </span> <span class="by"><span class="o-s-bold">Offered by:</span> Agent Name</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-result__box wow fadeInUp">
              <div class="search-result__title">
                <h4>Lot:  EH537</h4>
              </div>
              <div class="search-result__property">
                <div class="row">
                  <div class="col-md-8 col-sm-12">
                    <div class="row">
                      <div class="col-md-5 col-sm-5">
                        <div class="property__img"> <img src="images/s1.jpg" alt="img" class="img-responsive" />
                          <div class="property__caption text-center"> Manor / palace </div>
                          <span class="buy-strip">Buy Now</span>
                        </div>
                      </div>
                      <div class="col-md-7 col-sm-7">
                        <div class="property__dtl">
                          <p> <span class="o-s-bold">Property name :</span> AnyName</p>
                          <p> Sunny Enclave, 356, Mohali area</p>
                          <div class="margin-top-5x">
                            <p><span class="o-s-bold">Listing type :</span> Traditional Bidding</p>
                            <p><span class="o-s-bold">Premises type :</span> Residential</p>
                            <p><span class="o-s-bold">Property Type:</span> House </p>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="property__infobox">
                      <div class="property__infobox__heading bid_timeleft text-center"> Time left </div>
                      <div class="padding-3x text-center property__infobox__content">
                        <span class="time">22hrs 15min</span>
                        <span class="bid__time block text-theme margin-bottom-2x margin-top-2x">Current Bid Amount <br/>
                          <span class="o-bold">$87.88</span></span>
                          <button class="button button-small">Bid Now</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                      <div class="property__price">
                        <div class="row">
                          <div class="col-md-8"><span class="price">$ 1999.00 </span> <span class="by"><span class="o-s-bold">Offered by:</span> Agent Name</span></div>
                          <div class="col-md-4">
                            <span class="total__view"><i class="icon-eye text-theme"></i> View by 144</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="search-result__box wow fadeInUp">
                <div class="search-result__title">
                  <h4>Lot:  EH537</h4>
                </div>
                <div class="search-result__property">
                  <div class="row">
                    <div class="col-md-8 col-sm-12">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="property__img"> <img src="images/s1.jpg" alt="img" class="img-responsive" />
                            <div class="property__caption text-center"> Manor / palace </div>
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                          <div class="property__dtl">
                            <p> <span class="o-s-bold">Property name :</span> AnyName</p>
                            <p> Sunny Enclave, 356, Mohali area</p>
                            <div class="margin-top-5x">
                              <p><span class="o-s-bold">Listing type :</span> Traditional Bidding</p>
                              <p><span class="o-s-bold">Premises type :</span> Residential</p>
                              <p><span class="o-s-bold">Property Type:</span> House </p>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="property__infobox">
                        <div class="property__infobox__heading  text-center"> Bid won! </div>
                        <div class="padding-3x text-center property__infobox__content">
                          
                          <div class="bid__out">
                            <i class="icon-exclamation"></i>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                      <div class="property__price">
                        <div class="row">
                          <div class="col-md-8"><span class="price">$ 1999.00 </span> <span class="by"><span class="o-s-bold">Offered by:</span> Agent Name</span></div>
                          <div class="col-md-4">
                            <span class="total__view"><i class="icon-eye text-theme"></i> View by 144</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="search-result__box wow fadeInUp">
                <div class="search-result__title">
                  <h4>Lot:  EH537</h4>
                </div>
                <div class="search-result__property">
                  <div class="row">
                    <div class="col-md-8 col-sm-12">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <div class="property__img"> <img src="images/s1.jpg" alt="img" class="img-responsive" />
                            <div class="property__caption text-center"> Manor / palace </div>
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                          <div class="property__dtl">
                            <p> <span class="o-s-bold">Property name :</span> AnyName</p>
                            <p> Sunny Enclave, 356, Mohali area</p>
                            <div class="margin-top-5x">
                              <p><span class="o-s-bold">Listing type :</span> Traditional Bidding</p>
                              <p><span class="o-s-bold">Premises type :</span> Residential</p>
                              <p><span class="o-s-bold">Property Type:</span> House </p>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="property__infobox">
                        <div class="property__infobox__heading  text-center">Time runs out! </div>
                        <div class="padding-3x text-center property__infobox__content">
                          
                          <div class="bid__out">
                            <i class="icon-exclamation"></i>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                      <div class="property__price">
                        <div class="row">
                          <div class="col-md-8"><span class="price">$ 1999.00 </span> <span class="by"><span class="o-s-bold">Offered by:</span> Agent Name</span></div>
                          <div class="col-md-4">
                            <span class="total__view"><i class="icon-eye text-theme"></i> View by 144</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="margin-top-5x text-right">
                <div class="pagnation-list">
                  <ul>
                    <li class="prev"> <a href="#"><i class="icon-slide-arrow-left"></i> Previous</a></li>
                    <li><span class="active">1</span></li>
                    <li><span>2</span></li>
                    <li><span>3</span></li>
                    <li><span>4</span></li>
                    <li><span>5</span></li>
                    <li><span>6</span></li>
                    <li  class="next"><a href="#"> Next <i class="icon-slide-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-main-contanier-->