<!--login-box-->
<div id="agent-modal">
  <div class="modal-header">
    <button type="button" class="close" id="loginclose" ng-click="cancel()"><i class="icon-cancel"></i></button>
    <h2 class="modal-title" id="myModalLabel">Set a new password</h2>
  </div>
  <div class="modal-body">

    <div class="form margin-top-5x">
      <form>
        <div class="field-group"><div class="email_field field"><input type="password" placeholder="Password"/><span class="bg-focus"></span></div>
        <div class="msg-error">Your name required</div>
      </div>
      <div class="field-group"><div class="password_field field"><input type="password" placeholder="Confirm Password"/><span class="bg-focus"></span></div></div>
    </form>
  </div>
</div>
<div class="modal_footer">
  <div class="row">

    <div class="col-md-12 text-right">
      <button class="button button-uppercase button-width-large">Submit</button>
      
    </div>
  </div>
</div>
