<!--Buymdoal-->
<div id="buy-modal">
  <div class="buy-modal-body">
    <h4 class="text-center">Are you sure you want to buy this property @ <span class="text-theme">$4734349</span></h4>
    <div class="row">
      <div class="col-md-12 text-right margin-top-4x">
        <button class="button button-uppercase button-rounded  button-cancel" ng-click="cancel()">Cancel</button>
        <button class="button button-uppercase button-rounded" ng-click="cancel()">Agree</button>
      </div>
    </div>
  </div>
</div>